<section [formGroup]="this.contactForm">
   <section>
      <mat-form-field class="snap-data-control">
          <input matInput formControlName="street" type="text" autocomplete="false" placeholder="Street"  required>
          <mat-error *ngIf="formErrors.street">{{formErrors.street}}</mat-error>
      </mat-form-field>
      <mat-form-field class="snap-data-control">
          <input matInput formControlName="city" type="text" autocomplete="false" placeholder="City"  required>
          <mat-error *ngIf="formErrors.city">{{formErrors.city}}</mat-error>
      </mat-form-field>
      <mat-form-field class="snap-data-control" >
            <input matInput formControlName="stateId" placeholder="State" [matAutocomplete]="autoState" >
        </mat-form-field>       
    <!--
      <mat-select placeholder="State" formControlName="stateId" required autocomplete="false" class="snap-data-control">
          <mat-option *ngFor="let state of States" [value]="state.stateId">{{state.stateName}}</mat-option>
          <mat-error *ngIf="formErrors.stateId">{{formErrors.stateId}}</mat-error>
      </mat-select>
      -->
      <mat-form-field class="snap-data-control">
          <input matInput formControlName="zipCode" type="text" autocomplete="false" placeholder="Zip Code"  required>
          <mat-error *ngIf="formErrors.zipCode">{{formErrors.zipCode}}</mat-error>
      </mat-form-field>

       <mat-autocomplete #autoState="matAutocomplete" [displayWith]="displayFnForState">
            <mat-option (onSelectionChange)="searchState($event, state)" *ngFor="let state of filteredStates" 
            [value]="state">{{state.stateName }}
            </mat-option>
       </mat-autocomplete>

  </section>
  <section>
      <mat-form-field class="snap-data-control">
          <input matInput formControlName="homePhone" type="tel" autocomplete="false" placeholder="Primary Phone"  required>
          <mat-error *ngIf="formErrors.homePhone">{{formErrors.homePhone}}</mat-error>
      </mat-form-field>
      <mat-form-field class="snap-data-control">
          <input matInput formControlName="workPhone" type="tel" autocomplete="false" placeholder="Work Phone">
          <mat-error *ngIf="formErrors.workPhone">{{formErrors.workPhone}}</mat-error>
      </mat-form-field>
      <mat-form-field class="snap-data-control">
          <input matInput formControlName="cellPhone" type="tel" autocomplete="false" placeholder="Cell Phone">
          <mat-error *ngIf="formErrors.cellPhone">{{formErrors.cellPhone}}</mat-error>
      </mat-form-field>
      <mat-form-field class="snap-data-control">
          <input matInput formControlName="fax" type="text" autocomplete="false" placeholder="Fax">
          <mat-error *ngIf="formErrors.fax">{{formErrors.fax}}</mat-error>
      </mat-form-field>
  </section>
  <section>
      <mat-form-field class="snap-data-control-40">
          <input matInput formControlName="email" type="email" autocomplete="false" placeholder="Email">
          <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
      </mat-form-field>
  </section>
</section>