<section [formGroup]="this.insuranceForm">
  <section>
        <mat-form-field class="snap-data-control" >
            <input matInput formControlName="payerId" placeholder="Payer ID" [matAutocomplete]="autoCarrierId" required >
        </mat-form-field>   
        <mat-form-field class="snap-data-control" >
            <input matInput formControlName="payerName" placeholder="Payer Name" [matAutocomplete]="autoCarrierName" >
        </mat-form-field>       
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="policyNumber" type="text" placeholder="Member Id"  required>
            <mat-error *ngIf="formErrors.policyNumber">{{formErrors.policyNumber}}</mat-error>
        </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="planName" type="text" placeholder="Plan">
        </mat-form-field>
  </section>
  <section>
      <mat-form-field class="snap-data-control">
         <mat-select matInput placeholder="Relationship to Patient" formControlName="relationToPatient" required>
            <mat-option *ngFor="let relationShip of allRelationShips" 
                [value]="relationShip.relationshipName">{{relationShip.relationshipName}}  </mat-option>
        </mat-select>       
    </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="policyHolderName" type="text" placeholder="Insured / Policy Holder Name"  required>
            <mat-error *ngIf="formErrors.policyHolderName">{{formErrors.policyHolderName}}</mat-error>
        </mat-form-field>
         
        <mat-form-field class="snap-data-control">
          <input matInput formControlName="dob" useValueAsDate type="date" placeholder="Date of Birth"  required>
          <mat-error *ngIf="formErrors.dob">{{formErrors.dob}}</mat-error>
        </mat-form-field>
        
         <mat-radio-group color="primary" formControlName="gender" 
                      class="snap-data-control">
              <mat-radio-button value="Male" color="primary">Male</mat-radio-button>
              <mat-radio-button  value="Female" color="primary">Female</mat-radio-button>
      </mat-radio-group>
  </section>
  <section>
      <mat-form-field  class="snap-data-control">
            <input matInput formControlName="insuredPolicyGroupOrFECANumber" type="text" placeholder="Insured's Policy Group Number">
        </mat-form-field>   
      <mat-form-field   class="snap-data-control">
          <input matInput formControlName="insPlanOrPgmName" type="text" placeholder="Insurance Plan or Program Name">
      </mat-form-field>
       <mat-form-field  class="snap-data-control" >
          <input matInput formControlName="empOrSchoolName" type="text" placeholder="Employer Or School Name">
      </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="expiryDate" useValueAsDate type="date" placeholder="Expiry Date">
            <mat-error *ngIf="formErrors.expiryDate">{{formErrors.expiryDate}}</mat-error>
        </mat-form-field>
  </section>
  <section>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="startDate" useValueAsDate type="date" placeholder="Start Date">
        </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="endDate" useValueAsDate type="date" placeholder="End Date">
        </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="coPay" type="number" placeholder="Co Pay">
        </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="coPayUnits" type="text" placeholder="Co Pay Units">
        </mat-form-field>
  </section>
   <section *ngIf="isSecondaryInsurance">
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="othPayer1RespPct" type="number" placeholder="Payer1 Responsibility(%)">
            <mat-error *ngIf="formErrors.othPayer1RespPct">{{formErrors.othPayer1RespPct}}</mat-error>
        </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="othPayer2RespPct" type="number" placeholder="Payer2 Responsibility(%)">
            <mat-error *ngIf="formErrors.othPayer2RespPct">{{formErrors.othPayer2RespPct}}</mat-error>
        </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="primaryPaymentDate" type="date" useValueAsDate  placeholder="Primary Payment Date">
        </mat-form-field>
    </section>
  <section>
      <mat-slide-toggle color="primary" formControlName="sameAddressAsPatient"
                      class="snap-data-control">Same Address as Patient?</mat-slide-toggle>
        <mat-autocomplete #autoCarrierId="matAutocomplete"  >
            <mat-option (onSelectionChange)="searchCarrier($event, carrier)" *ngFor="let carrier of filteredPayerId " [value]="carrier">
                {{ carrier }}
            </mat-option>
       </mat-autocomplete>
        <mat-autocomplete #autoCarrierName="matAutocomplete"  >
            <mat-option (onSelectionChange)="searchCarrierName($event, carrier)" *ngFor="let carrier of filteredPayerName " [value]="carrier">
                {{ carrier }}
            </mat-option>
       </mat-autocomplete>
       <mat-autocomplete #autoRelationship="matAutocomplete" >
        <mat-option (onSelectionChange)="searchRelationship($event, relationShip.relationshpiName)"
                   *ngFor="let relationShip of filteredRelationships" [value]="relationShip.relationshipName">
            {{ relationShip.relationshipName }}
        </mat-option>
       </mat-autocomplete>
  </section>
  <section *ngIf="!sameAddressAsPatient">
      <snap-contact   [parentForm]="insuranceContactForm"
                      #insContact
                      (onContactFormReady)="onContactFormReady($event)"
                      (onContactValidityChanged)="updateContactValidity($event)" >
      </snap-contact>
  </section>
</section>