<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <mat-card class="mat-card-mg3">
      <section>
        <h5>Status</h5>
        <ngx-charts-number-card
            [view]="view"
            [scheme]="colorScheme"
            [results]="filteredClaims"
            (select)="onClaimSelect($event)">
        </ngx-charts-number-card>
      </section>
    </mat-card>
    <mat-card class="mat-card-mg3">
      <section>
        <h5>Days</h5>
         <ngx-charts-bar-vertical-2d
            [view]="view"
            [scheme]="colorScheme"
            [results]="filteredBuckets"
            [gradient]="false"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            (select)="onSelect($event)">
        </ngx-charts-bar-vertical-2d>
      </section>
    </mat-card>
    <mat-card class="mg-card-mg3">
      <section>
        {{minDays}} to {{maxDays}} Days
        <section class="snap-section">
          0
          <mat-slider
            [(ngModel)]="minDays"
            [max]="180"
            [min]="0"
            [step]="5"
            [thumb-label]="true"
            [tick-interval]="true"
            color="primary">
            Days
          </mat-slider>
          180
        </section>
     
        <section class="snap-section">
          5
          <mat-slider
            
            [(ngModel)]="maxDays"
            [max]="180"
            [min]="5"
            [step]="5"
            [thumb-label]="true"
            [tick-interval]="true"
            color="primary">
            Days
          </mat-slider>
          180
        </section>
      </section>
      <section class="snap-section">
         <mat-form-field class="snap-data-control-60" >
          <input matInput [(ngModel)]="procedureCode" name="procCode" 
              placeholder="Procedure" [matAutocomplete]="autoCPTProcCode"
              (ngModelChange)="searchProcedureCode($event)"  >
        </mat-form-field>
      </section>
      <section>
          <mat-checkbox [checked]="true" [(ngModel)]="fetchNew"  color="primary">New</mat-checkbox>
          <mat-checkbox [checked]="true" [(ngModel)]="fetchAck" color="primary">Acknowledged</mat-checkbox>
          <mat-checkbox [checked]="true" [(ngModel)]="fetchRej" color="primary">Rejected</mat-checkbox>
          <mat-checkbox [checked]="true" [(ngModel)]="fetchPaid" color="primary">Paid</mat-checkbox>
      </section>
      <mat-card-actions>
        <a mat-mini-fab routerLink="." color="primary" (click) ="refresh()" ><mat-icon>refresh</mat-icon></a>
      </mat-card-actions>
    </mat-card>
  </div>
<div  fxLayout="column" fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <mat-card class="mat-card-mg3">
      <section>
        <h5>Payers</h5>
        <ngx-charts-tree-map *ngIf="filteredClaimByPayers.length > 0"
          [view]="view"
          [scheme]="colorScheme"
          [results]="filteredClaimByPayers"
          (select)="onPayerSelect($event)">
        </ngx-charts-tree-map>
      </section>
      <section>
        <div class="example-container mat-elevation-z8">
           <!--
          <div class="example-header">
            <mat-form-field floatPlaceholder="never">
              <input matInput #filter placeholder="Filter claims">
            </mat-form-field>
          </div>
         
          <mat-table #table [dataSource]="dataSource">
            
            <ng-container cdkColumnDef="payerName">
              <mat-header-cell *cdkHeaderCellDef> Payer </mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.payerName}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="status">
              <mat-header-cell *cdkHeaderCellDef> Status </mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.status}}</mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="dayBucket">
              <mat-header-cell *cdkHeaderCellDef> Bucket </mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.dayBucket}}</mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="procCode">
              <mat-header-cell *cdkHeaderCellDef> Procedure </mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.procCode}}</mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="totalCharges">
              <mat-header-cell *cdkHeaderCellDef> Charges </mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.totalCharges}}</mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="totalPaid">
              <mat-header-cell *cdkHeaderCellDef> Paid </mat-header-cell>
              <mat-cell *cdkCellDef="let row"> {{row.totalPaid}}</mat-cell>
            </ng-container>
            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator #paginator
                [length]="claims.data.length"
                [pageIndex]="0"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

        -->

        <dx-data-grid id="gridContainer" 
            [dataSource]="dashboardSummaryData"
            [showColumnLines]="true"
            [showRowLines]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            [allowColumnReordering]="true"
            [allowColumnResizing]="true">        
            <dxo-export [enabled]="true" fileName="ClaimsData" 
                        [allowExportSelectedData]="true">
            </dxo-export>
            
            <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
            <dxi-column dataField="payerName"  caption="Payer" [width]="250"></dxi-column>
            <dxi-column dataField="status"  caption="Status"  [width]="150" ></dxi-column>
            <dxi-column dataField="dayBucket" caption="Bucket" [width]="100" ></dxi-column>
            <dxi-column dataField="procCode" caption="Procedure" [width]="200" ></dxi-column>
            <dxi-column dataField="totalCharges" caption="Charges"></dxi-column>
            <dxi-column dataField="totalPaid" caption="Paid"></dxi-column>
        </dx-data-grid>
        </div>

      </section>
  </mat-card>
</div>
<section>
  <mat-autocomplete #autoCPTProcCode="matAutocomplete"  [displayWith]="displayFnForCPTCode" >
      <mat-option (onSelectionChange)="searchCPTCode($event, cptCod)" *ngFor="let cptCod of filteredCPTCodes" 
              [value]="cptCod.cptValue" >{{ cptCod.cptValue + ' => ' + cptCod.description }}
      </mat-option>
  </mat-autocomplete>
</section>