<div class="mat-padding" fxLayout="column">
  
    <mat-card class="mat-card-mg12" *ngFor="let searchResult of searchResults">
      <mat-card-title>
        <section>
          <h5>{{searchResult.patientTitle}} </h5>
        </section>
      </mat-card-title>
      <mat-card-content>
        <section>
          <span class="snap-data-control"><b>DOB :</b></span>
          <span class="snap-data-control">{{searchResult.dob | date: 'MM/dd/yyyy'}}  </span>

          <span class="snap-data-control"><b>Chart Id :</b></span>
          <span class="snap-data-control">{{searchResult.chartId}}</span>

          <span class="snap-data-control"><b>City :</b></span>
          <span class="snap-data-control">{{searchResult.city}}</span>
        </section>
        <section>
          <span class="snap-data-control"><b>State :</b></span>
          <span class="snap-data-control">{{searchResult.state}}</span>
          
          <span class="snap-data-control"><b>Home Phone :</b></span>
          <span class="snap-data-control">{{searchResult.homePhone}}</span>
        </section>
        <section>
          <span class="snap-data-control"><b>Primary Insurance? :</b></span>
          <span class="snap-data-control">{{searchResult.hasPrimaryInsurance =='No' ? 'No' : 'Yes'}}</span>

          <span class="snap-data-control"><b>Secondary Insurance? :</b></span>
          <span class="snap-data-control">  {{searchResult.hasSecondaryInsurance =='No' ? 'No' : 'Yes'}}</span>

          <span class="snap-data-control"><b>Policy Holder :</b></span>
          <span class="snap-data-control">{{searchResult.policyHolderName}}</span>
        </section>
      </mat-card-content>
      <mat-card-actions>
        
          <a mat-mini-fab [routerLink]="['/claim',{patientId :searchResult.patientId}]" color="primary" 
            >
            <mat-icon matTooltip="Generate new claim">monetization_on</mat-icon>
          </a>
       
        <a mat-mini-fab [routerLink]="['/patient',{patientId :searchResult.patientId}]">
          <mat-icon matTooltip="Patient Details">description</mat-icon>
        </a>
        <a mat-mini-fab [routerLink]="['/benefit',{patientId :searchResult.patientId}]"><mat-icon matTooltip="Eligibility &amp; Benefit" >details</mat-icon></a>
      </mat-card-actions>
    </mat-card>
    
  </div>