<form  [formGroup]="clinicForm" novalidate >
    <mat-card>
        <mat-card-title>
                Clinic Information
        </mat-card-title>
        <mat-card-content >
                <section>
                    <mat-form-field class="snap-data-control">
                        <input matInput formControlName="clinicName" type="text" placeholder="Clinic Name"  required>
                        <mat-error *ngIf="formErrors.clinicName">{{formErrors.clinicName}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="snap-data-control">
                        <input matInput formControlName="phoneNumber" type="tel" placeholder="Phone Number"  required>
                        <mat-error *ngIf="formErrors.phoneNumber">{{formErrors.phoneNumber}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="snap-data-control">
                        <input matInput formControlName="userName" type="text" placeholder="Super User Name" required>
                        <mat-error *ngIf="formErrors.userName">{{formErrors.userName}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="snap-data-control">
                        <input matInput formControlName="password" type="password" placeholder="Password" required>
                        <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field class="snap-data-control">
                        <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password" required>
                        <mat-error *ngIf="formErrors.confirmPassword">{{formErrors.confirmPassword}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="snap-data-control">
                        <input matInput formControlName="firstName" type="text" placeholder="First Name" required>
                        <mat-error *ngIf="formErrors.firstName">{{formErrors.firstName}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="snap-data-control">
                        <input matInput formControlName="lastName" type="text" placeholder="Last Name" required>
                        <mat-error *ngIf="formErrors.lastName">{{formErrors.lastName}}</mat-error>
                    </mat-form-field>
                     <mat-form-field class="snap-data-control">
                        <input matInput formControlName="npi" type="text" placeholder="NPI" required>
                        <mat-error *ngIf="formErrors.NPI">{{formErrors.NPI}}</mat-error>
                    </mat-form-field>
                    
                </section>
                <section>
                    <mat-form-field>
                        <mat-select placeholder="Secret Question" formControlName="secretQuestionId" class="snap-data-control">
                            <mat-option *ngFor="let q of allSecretQuestion" [value]="q.secretQuestionID">
                                        {{q.secretQuestionText}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="snap-data-control">
                        <input matInput formControlName="secretQuestionAnswer" type="text" placeholder="Secret Answer" required>
                        <mat-error *ngIf="formErrors.secretQuestionAnswer"> {{formErrors.secretQuestionAnswer}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="snap-data-control">
                        <input matInput formControlName="taxanomyCode" type="text" placeholder="Taxanomy Code" required>
                        <mat-error *ngIf="formErrors.taxanomyCode">{{formErrors.taxanomyCode}}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="snap-data-control">
                        <input matInput formControlName="taxanomyDescription" type="text" placeholder="Taxanomy Description" required>
                        <mat-error *ngIf="formErrors.taxanomyDescription">{{formErrors.taxanomyDescription}}</mat-error>
                    </mat-form-field>
                </section>
                <section>
                     <mat-form-field class="snap-data-control">
                        <input matInput formControlName="taxId" type="text" placeholder="Tax ID" required>
                        <mat-error *ngIf="formErrors.taxId"> {{formErrors.taxId}}</mat-error>
                    </mat-form-field>
                    <mat-radio-group color="primary" formControlName="taxType" 
                                    class="snap-data-control">
                            <mat-radio-button value="SSN" color="primary">SSN</mat-radio-button>
                            <mat-radio-button  value="EIN" color="primary">EIN</mat-radio-button>
                    </mat-radio-group>
                </section>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-title>
                Contact Information
        </mat-card-title>
        <mat-card-content >
            <section>
                    <snap-contact #clinicContactDetail
                        [parentForm]="clinicForm"
                        formControlName="clinicContact"
                        ngDefaultControl
                        (onContactValidityChanged)="updateContactValidity($event)" >
                   </snap-contact>
            </section>
            <section>
                <button type="button" (click)="registerClinic()" mat-raised-button color="primary" [disabled]="!isClinicFormValid">Save</button>
                <a mat-button routerLink="/login">Cancel</a>
            </section>    
        </mat-card-content>
    </mat-card>
</form>