<form [formGroup]="receiptForm" novalidate>
        <section class="snap-section" >
            <mat-form-field class="fill-remaining-space" >
                <input matInput name="searchTerm" autofocus autocomplete="off" 
                       placeholder="Search" #searchTerm (keyup.enter)="search(searchTerm)" >
            </mat-form-field> 
            <button type="button" mat-mini-fab color="primary" (click)="search(searchTerm)">
                <mat-icon>search</mat-icon>
            </button>
            <button type="button" (click)="addNew()" mat-mini-fab color="accent">
                <mat-icon>add</mat-icon>
            </button>
        </section>
        <div class="mat-padding" fxLayout="column" fxLayoutWrap>
                <p-dataTable [value]="receipts" 
                reorderableColumns="true" resizableColumns="true" columnResizeMode="expand" [sortableRowGroup]="false"
                [rows]="20" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]"
                scrollable="true"  >
               <p-column styleClass="col-button">
                   <ng-template let-searchResult="rowData" pTemplate="body">                        
                       <button type="button" (click)="editReceipt(searchResult.id)" mat-mini-fab color="primary">
                           <mat-icon class="icon-20">check_circle</mat-icon>
                       </button>  
                       <button type="button" (click)="printReceipt(searchResult.id)" mat-mini-fab color="primary">
                            <mat-icon class="icon-20">print</mat-icon>
                        </button>  
                   </ng-template>
               </p-column>
               <p-column field="receiptDate" header="Receipt Date" [filter]="false" [sortable]="true" filterPlaceholder="Receipt Date">
                   <ng-template pTemplate="body" let-searchResult="rowData">
                       {{searchResult.receiptDate | date:'shortDate'}}
                   </ng-template>
               </p-column> 
               
               <p-column field="receiptNumber" header="Receipt Number" [filter]="true" [sortable]="true" filterPlaceholder="Receipt Number"></p-column>
               <p-column field="receivedFrom" header="Received From" [filter]="true" [sortable]="true" filterPlaceholder="Received From"></p-column>
               <p-column field="patientDOB" header="Patient DOB" [filter]="false" [sortable]="true" filterPlaceholder="Patient DOB">
               <ng-template pTemplate="body" let-searchResult="rowData">
                       {{searchResult.patientDOB | date:'shortDate'}}
                   </ng-template>
               </p-column> 
               <p-column field="paymentType" header="Payment Type" [filter]="true" [sortable]="true" filterPlaceholder="Payment Type"></p-column>
               <p-column field="amount" header="Amount" [filter]="true" [sortable]="true" filterPlaceholder="Amount"></p-column>
               <p-column field="reference" header="Reference" [filter]="true" [sortable]="true" filterPlaceholder="Reference"></p-column>
               <p-column field="note" header="Note" [filter]="true" [sortable]="true" filterPlaceholder="Note"></p-column>
           
           </p-dataTable>
           
        </div>

        <p-dialog header="Manage Receipts" [(visible)]="showReceiptDialog" [width]="900" [closable]="true">
            <section>
                <mat-form-field class="snap-data-control" >
                    <input matInput formControlName="patientId" placeholder="Patient" [matAutocomplete]="autoPatient" >
                    <!-- <input matInput formControlName="receivedFrom" placeholder="Received From" type="text" > -->
                </mat-form-field>  
                <mat-form-field class="snap-data-control" >
                    <input matInput formControlName="receiptDate" useValueAsDate placeholder="Receipt Date" type="date" >
                </mat-form-field>  
                <mat-form-field class="snap-data-control" >
                    <input matInput formControlName="amount" placeholder="Amount" type="text">
                </mat-form-field> 
                <mat-form-field>
                    <mat-select placeholder="Payment Type" formControlName="paymentType" required class="snap-data-control">
                        <mat-option value="Cash"  >Cash</mat-option>
                        <mat-option value="Card">Card</mat-option>
                    </mat-select>
                </mat-form-field>
                <section>
                    <mat-form-field class="snap-full-width">
                        <textarea matInput placeholder="Reference" formControlName="reference"></textarea>
                    </mat-form-field>                    
                </section>
                <section>
                    <mat-form-field class="snap-full-width">
                        <textarea matInput placeholder="Notes" formControlName="note"></textarea>
                    </mat-form-field>                    
                </section>   
                <section>
                    <button type="button" (click)="save()" mat-mini-fab color="primary">
                        <mat-icon>save</mat-icon>
                    </button> 
                    <button type="button" (click)="cancel()" mat-mini-fab color="accent">
                        <mat-icon>cancel</mat-icon>
                    </button> 
                </section>                 
            </section>
        </p-dialog>

        <section>
            <mat-autocomplete #autoPatient="matAutocomplete"  [displayWith]="displayFnForPatient.bind(this)">
                <mat-option (onSelectionChange)="searchPatient($event, patient)" *ngFor="let patient of filteredPatients" 
                            [value]="patient">{{patient.patientTitle }}
                </mat-option>
            </mat-autocomplete>
        </section>

    </form>
    