<form [formGroup]="paymentForm" novalidate>
    <mat-card class="mat-card-mg12">
        <mat-card-content>
            <section class="snap-section">
                <mat-form-field class="snap-data-control-15">
                    <input matInput  type="text" placeholder="Check Number" formControlName="checkNumber">
                </mat-form-field>
                <mat-form-field class="snap-data-control-15">
                    <input matInput useValueAsDate type="date" placeholder="Check Date" formControlName="checkDate">
                </mat-form-field>
                <mat-form-field class="snap-data-control-15">
                     <input matInput useValueAsDate type="date" placeholder="From DOS" formControlName="fromDOS" readonly >
                </mat-form-field>
                <mat-form-field class="snap-data-control-15">
                    <input matInput  useValueAsDate type="date"  placeholder="To DOS" formControlName="toDOS" readonly>
                </mat-form-field>
                <mat-form-field class="snap-data-control-15">
                    <input matInput  type="text" placeholder="CPT Code" formControlName="cptCode" readonly>
                </mat-form-field>
                <mat-form-field class="snap-data-control-60">
                    <textarea matInput placeholder="Description" formControlName="description" readonly></textarea>
                </mat-form-field>
                <mat-form-field class="snap-data-control-15">
                    <input matInput  type="text" placeholder="Units" formControlName="units" readonly>
                </mat-form-field>
                <mat-form-field class="snap-data-control-15">
                    <input matInput  type="text" placeholder="Charges" formControlName="charges" readonly>
                </mat-form-field>
                <mat-form-field class="snap-data-control-15">
                    <input matInput  type="text" placeholder="Paid" formControlName="paid" >
                </mat-form-field>
                <button type="button" (click)="addAdjustment()" mat-mini-fab color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </section>
            <section  *ngFor="let manualAdjustment of this.manualPayment.adjustments">
                <manual-adjustment (notify)="OnNotify($event)"
                        [manualAdjustment] ="manualAdjustment">
                </manual-adjustment>
            </section>
        </mat-card-content>
    </mat-card>
</form>