<section *ngFor="let manualPayResult of searchResults">
    <manual-payment-landing-detail (parentlanding)="Parentlanding($event)"
        [manualPayment]="manualPayResult" >
    </manual-payment-landing-detail>
</section>