<form  [formGroup]="paymentForm" novalidate>
    <section>
        <mat-form-field class="snap-data-control-15">
            <input matInput  type="text" placeholder="Code" formControlName="code">
        </mat-form-field>
        <mat-form-field class="snap-data-control-15">
            <input matInput  type="text" placeholder="Group" formControlName="group">
        </mat-form-field>
        <mat-form-field class="snap-data-control-15">
            <input matInput  type="text" placeholder="Amount" formControlName="amount">
            <input  type="hidden" formControlName="eraClaimChargeAdjustmentId">
        </mat-form-field>
        <button type="button"   (click)="delete(manualAdjustment.eraClaimChargeAdjustmentId,manualAdjustment.claimId)" mat-mini-fab color="primary" >
            <mat-icon>delete</mat-icon>
        </button>
    </section>
</form>
    