<form novalidate>
    <section class="snap-section" >
        <button type="button" (click)="submit()" mat-mini-fab color="primary">
            <mat-icon>save</mat-icon>
        </button>
    </section>
    <div class="mat-padding" fxLayout="column" fxLayoutWrap>
        <manual-payment-container (manualparent)="ManualParent($event)" [searchResults]="searchResults" #manualPaymentContainer>
        </manual-payment-container>      
    </div>
</form>
    