<form (submit)="onFormSubmit($event)">
    <dx-form id="form" [formData]="manualPayment" [colCount]="2" [readOnly]="false" [showColonAfterLabel]="true" [showValidationSummary]="true" 
        validationGroup="paymentData">
        <dxi-item itemtype="group" caption="Claim Data">
            <dxi-item dataField="fromDOS" caption="From DOS">
                
            </dxi-item>
        </dxi-item>
        <dxi-item itemType="group" caption="Payment Data">
            <dxi-item dataField="Check Number">
                <dxi-validation-rule type="required" message="Check Number is required"> </dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Check Date"  
                editorType="dxDateBox"
                [editorOptions]="{ 
                invalidDateMessage: 'Check date must have the following format: MM/dd/yyyy' }">
                <dxo-label
                    text="Check Date">
                </dxo-label>
                <dxi-validation-rule type="required" message="Check Date is required"> </dxi-validation-rule>
            </dxi-item>
            <dxi-item>
                <button type="button" (click)="saveClick()" mat-mini-fab color="primary">               
                    <mat-icon class="icon-20">save</mat-icon>
                </button>
            </dxi-item>
        </dxi-item>
    </dx-form>
</form>