<mat-grid-list cols="3" rowHeight="1:1">
<mat-grid-tile [colspan]="2">
    <img src="assets/login_banner.jpg" style="width:800px">
</mat-grid-tile>
<mat-grid-tile>
    <form  (ngSubmit)="login()" [formGroup]="loginForm" >      
      <mat-card class="snap-card-400">
        <mat-card-content >
            <div class="d-flex flex-column">
                <mat-form-field>
                    <input  matInput formControlName="userName" autofocus placeholder="User name">
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput type="password"  formControlName="password" placeholder="Password">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions class="d-flex flex-column">
            <button mat-raised-button color="primary" type="submit">Login</button>
        </mat-card-actions>
        <mat-card-footer class="d-flex flex-row">
            <a mat-button routerLink="#">Forgot Password?</a>
            <a mat-button routerLink="/clinic">Register Clinic</a>
        </mat-card-footer>
      </mat-card>
    </form>
  </mat-grid-tile>
</mat-grid-list>