
  <div class="d-flex align-items-start flex-row">
      <div class="ml-auto mt-auto mr-auto mb-auto ">
            <img src="../assets/snapehr_logo.png" class="d-flex justify-content-start">
      </div>
      <div class="ml-auto mt-auto mr-auto mb-auto">
            <img src="../assets/login_banner.jpg" class="d-flex justify-content-end">
      </div>        
  </div>
  <div class="d-flex flex-row justify-content-end">
        <div class="card">
            <div class="card-header card-info text-white">
            <h5> Log in</h5>
            </div>
            <div class="card-block">
              <div class="d-flex flex-row">
                <input type="text" class="form-control" placeholder="User Name">
              </div>
              <div class="d-flex flex-row justify-content-end">
                <input type="password" class="form-control" placeholder="Password">
              </div>
              <div class="d-flex flex-column justify-content-stretch">
                <a href="#" class="btn btn-primary">Log In</a>
              </div>
              <div class="d-flex flex-row justify-content-stretch">
                <a href="#" class="btn">Forgot Password?</a>
                <a class="btn" routerLink="/clinic">Register Clinic</a>
                
                <a href="#" class="btn">Register Patient</a>
              </div>
            </div>
        </div>
      </div>
