<div [@dialog] *ngIf="visible" class="dialog">
    <mat-card>
        <mat-card-title>
            <ng-content section="header"></ng-content>
        </mat-card-title>
        <mat-card-content>
            <div>
             <section class="snap-section">
                    <form  [formGroup]="lookupForm">
                        <section class="snap-section">
                            <mat-form-field>
                                <input matInput formControlName="searchFirstName" placeholder="First Name"  >
                            </mat-form-field>
                            <mat-form-field >
                                <input matInput formControlName="searchLastName" placeholder="Last Name">
                            </mat-form-field>
                            <mat-form-field >
                                <input matInput formControlName="searchState" placeholder="State" >
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="searchCity" placeholder="City" >
                            </mat-form-field>   
                            <mat-autocomplete #auto="matAutocomplete"  (onChange)="autoChanged()" >
                                <mat-option (onSelectionChange)="searchWithString($event, option)" *ngFor="let option of filteredOptions " [value]="option">
                                    {{ option }}
                                </mat-option>
                            </mat-autocomplete>
                        </section>
                    </form>
                </section>
                <section>
                </section>
            </div>
        </mat-card-content>
    </mat-card>
     <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    </div>
    <div class="mat-padding" fxLayout="row" fxLayoutWrap>
        <p-dataTable [value]="searchProviders" [globalFilter]="gb" reorderableColumns="true" >
            <p-column field="npi" header="NPI"></p-column>
            <p-column field="firstName" header="First Name" [filter]="true" [sortable]="true" filterPlaceholder="Search"></p-column>
            <p-column field="lastName" header="Last Name" [filter]="true" [sortable]="true" filterPlaceholder="Search"></p-column>
            <p-column field="taxanomyDescription" header="Taxanomy" [filter]="true"  [sortable]="true" filterPlaceholder="Search"></p-column>
            <p-column field="providerContact.street" header="Address"></p-column>
            <p-column styleClass="col-button">
                <ng-template let-provider="rowData" pTemplate="body">
                    <button type="button" mat-mini-fab color="primary" (click)="selectProvider(provider)"><mat-icon>check</mat-icon></button>
                    <!--<button type="button" pButton (click)="selectProvider(car)" icon="fa-search"></button>-->
                </ng-template>
            </p-column>
            
        </p-dataTable>
    </div>

  <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
</div>
<div *ngIf="visible" class="overlay" (click)="close()"></div>