<div>
    <form [formGroup]="providerForm" novalidate >
        <mat-card class="mat-card-mg6">
            <mat-card-title>
                Organization Detail
            </mat-card-title>
            <mat-card-content>
                <section class="snap-section">
                    <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="organizationName" type="text" placeholder="Organization Name">

                    </mat-form-field>
                    <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="firstName" type="text" placeholder="Provider First Name">
                    </mat-form-field>
                    <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="lastName" type="text" placeholder="Provider Last Name">
                    </mat-form-field>
                    <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="middleName" type="text" placeholder="Provider Middle Name">
                    </mat-form-field>
                </section>
                <section class="snap-section">
                    <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="otherId" type="text" placeholder="Other Id">
                    </mat-form-field>
                    <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="npi" type="text" placeholder="NPI">
                    </mat-form-field>
                    <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="taxanomyCode" type="text" placeholder="Taxanomy Code">
                    </mat-form-field>
                     <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="taxanomyDescription" type="text" placeholder="Taxanomy Description">
                    </mat-form-field>
                  
                </section>
                <section class="snap-section">
                    <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="taxId" type="text" placeholder="Tax ID">
                    </mat-form-field>
                    <mat-radio-group class="snap-data-control" color="primary" formControlName="taxType" placeHolder="Tax Type">
                        <mat-radio-button value="SSN" color="primary">SSN</mat-radio-button>
                        <mat-radio-button value="EIN" color="primary">EIN</mat-radio-button>
                    </mat-radio-group>
                    <!--<button type="button" mat-mini-fab (click)="this.openProviderSearch()"><mat-icon>search</mat-icon></button>-->
                    <button type="button" color="primary"  mat-mini-fab (click)="showProviderLookupDialog = !showProviderLookupDialog">
                        <mat-icon>search</mat-icon>
                    </button>
                    <provider-lookup 
                            [(visible)]="showProviderLookupDialog" 
                            (onSearchTextChanged) = "handleProviderLookupChanged($event)"
                            [searchProviders]="searchProviders"
                            (onProviderSelected)="handleProviderSelected($event)">
                        <header>
                            <h5>Provider Lookup</h5>
                        </header>
                        <!--<button (click)="showProviderLookupDialog = !showProviderLookupDialog" class="btn">Close</button>-->
                    </provider-lookup>
                </section>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-card-mg6">
            <mat-card-title>
                Contact
            </mat-card-title>
            <mat-card-content>
                 <snap-contact  #providerContactDetail
                                [formGroup]="providerForm"
                                formControlName="providerContact"
                                ngDefaultControl
                                
                                (onContactValidityChanged)="updateContactValidity($event)" >
                   </snap-contact>
            </mat-card-content>
        </mat-card>
        <section>
                <button type="button" (click)="submit()" mat-raised-button color="primary" [disabled]="!isProviderFormValid" >Save</button>
                <a mat-button routerLink="/login">Cancel</a>
        </section>

    </form>
</div>