<form novalidate>
    <section class="snap-section" >
        <mat-form-field class="fill-remaining-space" >
            <input matInput name="searchTerm" placeholder="Search" #searchTerm (keyup.enter)="search(searchTerm)" >
        </mat-form-field> 
        
        <button type="button" (click)="submit()" mat-mini-fab color="primary">
            <mat-icon>save</mat-icon>
        </button>
    </section>
    <div class="mat-padding" fxLayout="column" fxLayoutWrap>
       <cpt-rate-container [searchResults]="searchResults" #cptRateContainer>
       </cpt-rate-container>      
    </div>
</form>
