<form [formGroup]="cptRateForm" novalidate>
    <mat-card class="mat-card-mg12">
        <mat-card-content>
            <section class="snap-section">
                <mat-form-field class="snap-data-control-15">
                    <input matInput  type="text" 
                            placeholder="CPT Code" formControlName="cptCode">
                </mat-form-field>
                <mat-form-field class="snap-data-control-60">
                    <textarea matInput placeholder="Description" formControlName="description"></textarea>
                </mat-form-field>
                <mat-form-field class="snap-data-control-15">
                    <input matInput  type="text" 
                            placeholder="Charges" formControlName="procedureRate">
                </mat-form-field>
            </section>
        </mat-card-content>
    </mat-card>
</form>