<section>
        <mat-tab-group>
                <mat-tab >
        <ng-template mat-tab-label>
        User Menu Grouping
      </ng-template>
        <mat-card>
            <mat-card-content >
                    <div class="col-md-12 form-group">
                            <form [formGroup]="roleMenuForm" (submit)="onFormSubmit($event)">
                            <dx-form id="user-menu-form"
                                [colCount]="4"
                                labelLocation="top">
                                <dxi-item  [label]="{text: 'User Role'}" >
                                        <dx-select-box 
                                        formControlName="userRole"
                                        [(dataSource)]="userRoleData"
                                        (onValueChanged)="onRoleValueChanged($event)"
                                        valueExpr="id"
                                        displayValue="roleName"
                                        displayExpr="roleName"
                                        [searchEnabled]="true">
                                        </dx-select-box>  
                                </dxi-item>
                                <dxi-item [label]="{text: 'Menu Details'}" [colSpan]="2" >

                                        <dx-drop-down-box
                                        formControlName="menuName"
                                        [(value)]="gridBoxValue"
                                        valueExpr="id"
                                        displayExpr="menuName"
                                        placeholder="Select a value..."
                                        [showClearButton]="true"
                                        [(dataSource)]="menuDataSource" >
                    
                                    <div *dxTemplate="let contentData of 'content'">
                                        <dx-data-grid
                                                [(dataSource)]="menuDataSource"
                                                [columns]="['menuName']"
                                                [selection]="{ mode: 'multiple' }"
                                                [hoverStateEnabled]="true"
                                                [paging]="{ enabled: true, pageSize: 10 }"
                                                [filterRow]="{ visible: true }"
                                                [scrolling]="{ mode: 'infinite' }"
                                                [height]="345"
                                                [(selectedRowKeys)]="gridBoxValue">
                                        </dx-data-grid>
                                    </div>
                                </dx-drop-down-box>
                                 </dxi-item>
                                 <dxi-item [label]="{text: ' '}">
                                        <dx-button text="Submit"type="success"  
                                        [useSubmitBehavior]="true"></dx-button>
                                    </dxi-item>
                                </dx-form>
                                </form>
                                </div>
            </mat-card-content>
        </mat-card>
        </mat-tab>
                </mat-tab-group>
                </section>