<section>
        <mat-tab-group>
                <mat-tab >
        <ng-template mat-tab-label>
        User Details
      </ng-template>
      <mat-card>
            <mat-card-content >
     



        <div class="col-md-12 form-group">
                <form [formGroup]="userForm" (submit)="onFormSubmit($event)">
                <dx-form id="user-form"
                    [colCount]="3"
                    labelLocation="top">

                    <dxi-item  [label]="{text: 'First Name'}" >
                            <dx-text-box formControlName="firstName">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="First Name is required"></dxi-validation-rule>
                                    </dx-validator>
                            </dx-text-box>
                    </dxi-item>

                    <dxi-item  [label]="{text: 'Last Name'}" >
                        <dx-text-box formControlName="lastName">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Last Name is required"></dxi-validation-rule>
                                </dx-validator>
                        </dx-text-box>
                    </dxi-item>

                    <dxi-item  [label]="{text: 'Email ID'}" >
                        <dx-text-box formControlName="emailId"></dx-text-box>
                    </dxi-item>

                    <dxi-item  [label]="{text: 'Contact Number'}" >
                        <dx-text-box formControlName="contactNumber"></dx-text-box>
                    </dxi-item>

                    <dxi-item  [label]="{text: 'Secret Question'}" >
                            <dx-select-box 
                            formControlName="secretQuestion"
                            [(dataSource)]="secretQuestionData"
                            valueExpr="secretQuestionID"
                            displayValue="secretQuestionText"
                            displayExpr="secretQuestionText"
                            [searchEnabled]="true">
                            <dx-validator>
                                    <dxi-validation-rule type="required" message="Secret Question is required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>  
                    </dxi-item>

                    <dxi-item  [label]="{text: 'Secret Answer'}" >
                        <dx-text-box formControlName="secretAnswer">
                                <dx-validator>
                                        <dxi-validation-rule type="required" message="Secret Answer is required"></dxi-validation-rule>
                                    </dx-validator>
                        </dx-text-box>
                    </dxi-item>

                    <dxi-item  [label]="{text: 'Username'}" >
                        <dx-text-box formControlName="username">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Username is required"></dxi-validation-rule>
                                </dx-validator>
                        </dx-text-box>
                    </dxi-item>
                    
                    <dxi-item  [label]="{text: 'Password'}" >
                        <dx-text-box formControlName="userpassword"  mode="password" [(value)]="userpassword">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
                                </dx-validator>
                        </dx-text-box>
                    </dxi-item>

                    <dxi-item  [label]="{text: 'Confirm Password'}" >
                            <dx-text-box formControlName="userConfirmpassword">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Confirm Password is required"></dxi-validation-rule>
                                        <dxi-validation-rule type="compare" [comparisonTarget]="userpasswordComparison"
                            message="Password and Confirm Password do not match"></dxi-validation-rule>
                                    </dx-validator>
                            </dx-text-box>
                        </dxi-item>

                    <dxi-item  [label]="{text: 'Clinic Name'}" >
                            <dx-select-box 
                            formControlName="clinic"
                            [(dataSource)]="clinicData"
                            valueExpr="clinicID"
                            displayValue="clinicName"
                            displayExpr="clinicName"
                            [searchEnabled]="true">
                            <dx-validator>
                                    <dxi-validation-rule type="required" message="Clinic is required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>  
                    </dxi-item>

                    <dxi-item  [label]="{text: 'User Role'}" >
                            <dx-select-box 
                            formControlName="userRole"
                            [(dataSource)]="userRoleData"
                            valueExpr="id"
                            displayValue="roleName"
                            displayExpr="roleName"
                            [searchEnabled]="true">
                            <dx-validator>
                                    <dxi-validation-rule type="required" message="Role is required"></dxi-validation-rule>
                                </dx-validator>
                            </dx-select-box>  
                    </dxi-item>

                   
                    <dxi-item [label]="{text: ' '}">
                        <dx-button text="Submit"type="success"  
                        [useSubmitBehavior]="true"></dx-button>
                    </dxi-item>
                    </dx-form>
                    </form>
                    </div>
                    </mat-card-content>
                    </mat-card>
                </mat-tab>
            </mat-tab-group>
      </section>
          
