<section>
        <mat-tab-group>
                <mat-tab >
        <ng-template mat-tab-label>
       Snap Users
      </ng-template>
      <mat-card>
          </mat-card>
          </mat-tab>
          </mat-tab-group>
         
          
    <div id="data-grid-plan">
            <div layout="row" layout-align="start center">
                <div>
                    <button type="button"  mat-mini-fab color="accent" routerLink="/snapuser">
                        <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
        <dx-data-grid 
            id="userGridContainer"
            [(dataSource)]="userDataSource"
            [showColumnLines]="false"
            [showRowLines]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            [allowColumnReordering]="true"
            [hoverStateEnabled]="true"
            [allowColumnResizing]="true"
            >        

            <dxo-paging [pageSize]="10"> </dxo-paging>
            <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>

            <dxi-column dataField="userId" caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="users"></dxi-column>
            <div *dxTemplate="let data of 'users'">  
                    <a mat-mini-fab [routerLink]="['/snapuser',{userId :data.value}]" color="primary">
                        <mat-icon mdTooltip="adduser"  >description</mat-icon>
                    </a>
            </div>
            <dxi-column dataField="firstName" caption="First Name" ></dxi-column>
            <dxi-column dataField="lastName" caption="Last Name" ></dxi-column>
            <dxi-column dataField="userName" caption="Username" ></dxi-column>
            <dxi-column dataField="clinicName" caption="Clinic Name" ></dxi-column>
            <dxi-column dataField="email" caption="Email ID" ></dxi-column>
            <dxi-column dataField="phoneNumber" caption="Contact Number" ></dxi-column>
            <dxi-column dataField="userType" caption="User Type" ></dxi-column>

            
        </dx-data-grid>
    </div>    
    </section>
    