<form>
    <section class="snap-section" >
        <mat-form-field class="fill-remaining-space" >
            <input matInput name="searchTerm" autofocus autocomplete="off" placeholder="Search" #searchTerm (keyup.enter)="search(searchTerm)" >
        </mat-form-field> 
    </section>
    <div class="mat-padding" fxLayout="row" fxLayoutWrap>
        <claim-landing-detail 
            [claimSearchResults]="this.searchResults">
        </claim-landing-detail>
    </div>
</form>
