<form [formGroup]="ClaimPaymentForm">
  

  <!-- <section class="snap-section">
    <mat-form-field class="fill-remaining-space">
      <input matInput formControlName="Search" autofocus autocomplete="off" placeholder="Search">
    </mat-form-field>
  </section> -->

  <section>
  <mat-card-content >
<!--(change)="selectionOption=!selectionOption"-->
        <mat-radio-group class="snap-data-control" color="primary"  name="gender">
          <mat-radio-button color="primary" value="true" (change)='ChangeOption();' [checked]='selectionOption'>Month</mat-radio-button>
          <mat-radio-button color="primary" value="false" (change)='ChangeOption();' [checked]='!selectionOption'>Date Range</mat-radio-button>
        </mat-radio-group>

        <app-month-and-year *ngIf="selectionOption" [ClaimPaymentForm]="ClaimPaymentForm"></app-month-and-year>

        <mat-form-field *ngIf="!selectionOption">
          <input matInput [matDatepicker]="formpicker" placeholder="Form Date"  formControlName="formdate"  [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="formpicker"></mat-datepicker-toggle>
          <mat-datepicker #formpicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="!selectionOption">
          <input matInput [matDatepicker]="topicker" placeholder="To Date" formControlName="todate"  [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="topicker"></mat-datepicker-toggle>
          <mat-datepicker #topicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="snap-data-control">
          <mat-select placeholder="status" formControlName="status" class="snap-data-control">
              <mat-option *ngFor="let claimStatus of allClaimStatus" [value]="claimStatus.statusCode">
                  {{claimStatus.statusCode}}</mat-option>
          </mat-select>
      </mat-form-field>   
      <button type="button" (click)="getPaymentByPayerData()" mat-mini-fab color="primary">
        <mat-icon class="icon-20">refresh</mat-icon>
      </button>
      
  </mat-card-content >
</section>

  <!-- <div class="mat-padding" fxLayout="row" fxLayoutWrap>
    <claim-landing-detail [claimSearchResults]="this.searchResults">
    </claim-landing-detail>
  </div> -->


  <!--Data Grid-->
  <div class="mat-padding" fxLayout="row" fxLayoutWrap>
        <dx-data-grid id="gridContainer" 
        [dataSource]="ClaimSearchResult"
        [showColumnLines]="false"
        [showRowLines]="true"
        [showBorders]="true"
        [rowAlternationEnabled]="false"
        [allowColumnReordering]="true"
        [hoverStateEnabled]="true"
        [allowColumnResizing]="true">
        <dxo-paging [pageSize]="9"> </dxo-paging>
        <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
        <dxo-export [enabled]="true" fileName="ClaimSearchResults" [allowExportSelectedData]="true"> </dxo-export>

        <dxi-column  caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="modifyClaim"></dxi-column>
        <div *dxTemplate="let d of 'modifyClaim'">  
                <a mat-mini-fab [routerLink]="['/claim',{claimId :d.data.claimId}]" color="primary" 
                    [disabled]="getCanEdit(d.data.claimStatus)" >
                <mat-icon matTooltip="Claim Details">monetization_on</mat-icon>
            </a>
          </div>

        <dxi-column caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="eraDetails"></dxi-column>
        <div *dxTemplate="let d of 'eraDetails'"> 
            <a mat-mini-fab [routerLink]="['/eradetail',{claimId :d.data.claimId}]" color="primary"
                [disabled]="getCanViewDetails(d.data.claimStatus)">
                <mat-icon matTooltip="ERA Details" >details</mat-icon>
            </a>
        </div>

        <dxi-column caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="manualPaymentTemplate"></dxi-column>
        <div *dxTemplate="let d of 'manualPaymentTemplate'"> 
            <a mat-mini-fab [routerLink]="['/manualPayment',{claimId :d.data.claimId}]"  color="primary"
                [disabled]="getCanSubmit(d.data.claimStatus)" >
                <mat-icon matTooltip="Payment Details">payment</mat-icon>
            </a>
          </div>

        

        <dxi-column caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="deleteClaim"></dxi-column>
        <div *dxTemplate="let d of 'deleteClaim'"> 
            <a mat-mini-fab [routerLink]="['/patient',{patientId :d.data.patientId}]" color="primary"
                [disabled]="getCanSubmit(d.data.claimStatus)">
                <mat-icon matTooltip="Patient Details">description</mat-icon>
            </a>
        </div>

        
        <dxi-column dataField="createdDate" dataType="date" caption="Created Date" format="MM/dd/yyyy"  [width]="100" ></dxi-column>
        <dxi-column dataField="claimChargeId"  caption="Charge ID"   [width]="100" ></dxi-column>
        <dxi-column dataField="fromDOS" dataType="date" caption="DOS" format="MM/dd/yyyy"  [width]="100" ></dxi-column>
        <dxi-column dataField="status"  caption="Status"   [width]="100" ></dxi-column>
        <dxi-column dataField="firstName"  caption="First"   [width]="100" ></dxi-column>
        <dxi-column dataField="lastName"  caption="Last"   [width]="100" ></dxi-column>
        <dxi-column dataField="chartId"  caption="Chart ID"   [width]="100" ></dxi-column>
        <dxi-column dataField="primaryPolicyNo"  caption="Policy"   [width]="100" ></dxi-column>
        <dxi-column dataField="primaryPayerName"  caption="Payer"   [width]="200" ></dxi-column>
        <dxi-column dataField="rendFirstName"  caption="Doctor"   [width]="100" ></dxi-column>
        <dxi-column dataField="totalCharges"  caption="Charges"   [width]="100" ></dxi-column>
        <dxi-column dataField="cptCode"  caption="CPT"   [width]="100" ></dxi-column>
        <dxi-column dataField="totalPaidERA"  caption="Paid"   [width]="100" ></dxi-column>
        <dxi-column dataField="seqPayment"  caption="Seq. Payments"   [width]="100" ></dxi-column>
        <dxi-column dataField="deductible"  caption="Deductible"   [width]="100" ></dxi-column>
        <dxi-column dataField="coInsurance"  caption="Co-Insurance"   [width]="100" ></dxi-column>
        <dxi-column dataField="coPay"  caption="Co-Pay"   [width]="100" ></dxi-column>
        <dxi-column dataField="secondaryPayerDues"  caption="Sec. Payer Dues"   [width]="100" ></dxi-column>
        <dxi-column dataField="patientDues"  caption="Patient Dues"   [width]="100" ></dxi-column>
        <dxi-column dataField="dueFromPatientExCoPay"  caption="Patient Dues-Ex Co-Pay"   [width]="100" ></dxi-column>
    </dx-data-grid>
  </div>
</form>

