<section [formGroup]="this.claimInsuranceForm">
    <section class="snap-section">
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="payerId" type="text" placeholder="Payer Id"  required>
        </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="payerName" type="text" placeholder="Payer Name">
        </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="insuredsIDNumber" type="text" placeholder="Insured ID #"  required>
            
        </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="insPolicyOrGrpNo" type="text" placeholder="Ins. Policy / Grp Number">
        </mat-form-field>
        </section>
        <section class="snap-section">
            <mat-form-field class="snap-data-control">
            <input matInput formControlName="insuredName" type="text" placeholder="Insured's Name"  required>
        </mat-form-field>
        <mat-form-field>
            <mat-select matInput placeholder="Relationship to Patient" formControlName="relationToPatient" required 
                    class="snap-data-control">
                <mat-option *ngFor="let relationShip of allRelationships" 
                    [value]="relationShip.relationshipName">{{relationShip.relationshipName}}  </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="snap-data-control">
            <textarea matInput placeholder="Insured's Address" formControlName="insuredAddress"></textarea>
        </mat-form-field>
        <mat-radio-group class="snap-data-control" color="primary" formControlName="insgender" placeholder="Ins. Sex">
            <mat-radio-button value="Male" color="primary">Male</mat-radio-button>
            <mat-radio-button value="Female" color="primary">Female</mat-radio-button>
        </mat-radio-group>
        
    </section>
    <section class="snap-section">
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="insdob" type="date" useValueAsDate  placeholder="Ins. Birth Date">
        </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="insEmpOrSchoolName" type="text" placeholder="Emp Or School Name">
        </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="insPlanOrPgmName" type="text" placeholder="Plan Or Pgm Name">
        </mat-form-field>
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="primaryPaymentDate" type="date" useValueAsDate  placeholder="Primary Pay Date">
        </mat-form-field>
    </section>
</section>