<section [formGroup]="this.claimProviderForm" >
<section>
    <mat-form-field class="snap-data-control" >
        <input matInput formControlName="organizationName" placeholder="Organization Name" 
            [matAutocomplete]="autoOrganizationName" >
    </mat-form-field> 
    <mat-form-field class="snap-data-control" >
        <input matInput formControlName="firstName" placeholder="First Name"
            [matAutocomplete]="autoFirstName" >
    </mat-form-field>
    <mat-form-field class="snap-data-control" >
        <input matInput formControlName="lastName" placeholder="Last Name"
            [matAutocomplete]="autoLastName" >
    </mat-form-field> 
    <mat-form-field class="snap-data-control" >
        <input matInput formControlName="npi" placeholder="NPI" >
    </mat-form-field> 
</section>
<section>
        <mat-form-field class="snap-data-control" >
        <input matInput formControlName="otherId" placeholder="Other Id" >
    </mat-form-field>
    <mat-form-field class="snap-data-control">
        <textarea matInput placeholder="Address" formControlName="address"></textarea>
    </mat-form-field>
    <mat-form-field class="snap-data-control" >
        <input matInput formControlName="taxanomyCode" placeholder="Taxanomy Code" >
    </mat-form-field>
    <mat-form-field class="snap-data-control" >
        <input matInput formControlName="taxanomyDescription" placeholder="Taxanomy Description" >
    </mat-form-field>
</section>
<section >
    <mat-form-field class="snap-data-control" >
        <input matInput formControlName="taxId" placeholder="Tax ID">
    </mat-form-field>
    <mat-radio-group color="primary" formControlName="taxType" placeholder="Tax ID Type">
        <mat-radio-button value="SSN" color="primary">SSN</mat-radio-button>
        <mat-radio-button value="EIN" color="primary">EIN</mat-radio-button>
    </mat-radio-group>
</section>
<section>
    <mat-autocomplete #autoOrganizationName="matAutocomplete" 
        [displayWith]="displayFnForOrgName">
        <mat-option *ngFor="let orgName of filteredOrgNames" 
                   (onSelectionChange)="searchOrgNameWithString($event, orgName)" 
                   [value]="orgName.organizationName">{{ orgName.organizationName }}</mat-option>
    </mat-autocomplete>
    <mat-autocomplete #autoFirstName="matAutocomplete"  
        [displayWith]="displayFnForFirstName">
        <mat-option *ngFor="let firstName of filteredFirstNames" 
                   (onSelectionChange)="searchFirstNameWithString($event, firstName)" 
                   [value]="firstName.firstName">{{ firstName.firstName }}</mat-option>
    </mat-autocomplete>
    <mat-autocomplete #autoLastName="matAutocomplete"  
        [displayWith]="displayFnForLastName">
        <mat-option *ngFor="let lastName of filteredLastNames" 
                   (onSelectionChange)="searchLastNameWithString($event, lastName)" 
                   [value]="lastName.lastName">{{ lastName.lastName }}</mat-option>
    </mat-autocomplete>
</section>
</section>