<section [formGroup]="this.claimChargesForm" novalidate>
    <section   >
        <section>
            
            <mat-form-field class="snap-data-control-10">
                <input matInput formControlName="fromDate"  accesskey="f" type="date"   focused   placeholder="From Date" >
            </mat-form-field>
            <mat-form-field class="snap-data-control-10">
                <input matInput formControlName="toDate" type="date"  placeholder="To Date">
                <mat-error *ngIf="formErrors.toDate">{{formErrors.toDate}}</mat-error>
                
            </mat-form-field>
            
            <!--
            <mat-form-field class="snap-data-control-10">
                <input matInput [mdDatepicker]="fromPicker" placeholder="From Date" formControlName="fromDate">
                <button mdSuffix [mdDatepickerToggle]="fromPicker"></button>
            </mat-form-field>
            <mat-datepicker #fromPicker></mat-datepicker>
            <mat-form-field class="snap-data-control-10">
                <input matInput [mdDatepicker]="toPicker" placeholder="To Date" formControlName="toDate">
                <button mdSuffix [mdDatepickerToggle]="toPicker"></button>
            </mat-form-field>
            <mat-datepicker #toPicker></mat-datepicker>
            -->
            <mat-form-field class="snap-data-control-10" >
                <input matInput formControlName="procedureCode" placeholder="Procedure" [matAutocomplete]="autoCPTProcCode" >
            </mat-form-field>
            <mat-form-field class="snap-data-control-3" >
                <input matInput formControlName="modifier1" placeholder="M1" >
            </mat-form-field>
            <mat-form-field class="snap-data-control-3" >
                <input matInput formControlName="modifier2" placeholder="M2" >
            </mat-form-field>
            <mat-form-field class="snap-data-control-3" >
                <input matInput formControlName="modifier3" placeholder="M3" >
            </mat-form-field>
            <mat-form-field class="snap-data-control-3" >
                <input matInput formControlName="modifier4" placeholder="M4" >
            </mat-form-field>
            <mat-form-field class="snap-data-control-10" >
                <input matInput formControlName="diagnosisCode" placeholder="Diagnosis" #input (keyup.enter)="add(input)"
                        [matAutocomplete]="autoICDCode"  >
            </mat-form-field> 
            
            <mat-form-field class="snap-data-control-10" >
                <input matInput formControlName="units" (change)="Getcharge()" placeholder="Units" >
                <mat-error *ngIf="formErrors.units">{{formErrors.units}}</mat-error>
            </mat-form-field> 
            <mat-form-field class="snap-data-control-10" >
                <input matInput formControlName="charges" placeholder="Charges" >
            </mat-form-field> 
            <button type="button" *ngIf="this.claimChargeData.chargeId === -1" accesskey="a" mat-mini-fab color="primary" (click)="addClaimCharge()" [disabled]="!allFormsValid"><mat-icon>check</mat-icon></button>
            <button type="button" *ngIf="this.claimChargeData.chargeId != -1" mat-mini-fab (click)="saveClaimCharge()" [disabled]="!allFormsValid"><mat-icon>save</mat-icon></button>
            <button type="button" *ngIf="this.claimChargeData.chargeId != -1" mat-mini-fab (click)="removeClaimCharge()"><mat-icon>delete</mat-icon></button>
        </section>
        <section class="snap-section">
            <mat-form-field class="narrative-60" >
                <input matInput placeholder="Additional Narrative" formControlName="additionalNarrative">
            </mat-form-field>
            <mat-chip-list formControlName="diagnosisCodes" ngDefaultControl >
                <mat-chip *ngFor="let diagCode of currentDiagCodes" 
                        color="primary" selected="true"
                        (click)="toggleVisible(diagCode.code)">{{diagCode.code}}</mat-chip>
            </mat-chip-list>
        </section>
        <section>
            <mat-autocomplete #autoCPTProcCode="matAutocomplete"  [displayWith]="displayFnForCPTCode" >
                <mat-option (onSelectionChange)="searchCPTCode($event, cptCod)" *ngFor="let cptCod of filteredCPTCodes" 
                        [value]="cptCod.cptValue" >{{ cptCod.cptValue + ' => ' + cptCod.description }}
                </mat-option>
            </mat-autocomplete>
            <mat-autocomplete #autoICDCode="matAutocomplete"  [displayWith]="displayFnForICDCode" >
                <mat-option (onSelectionChange)="searchICDCode($event, icdCod)" *ngFor="let icdCod of filteredICDCodes" 
                        [value]="icdCod.code" >{{ icdCod.code + ' => ' +  icdCod.description }}
                </mat-option>
            </mat-autocomplete>
        </section>
    </section>
</section>