<section [formGroup]="this.claimPatientForm">
    <section class="snap-section">
        <mat-form-field class="snap-data-control">
            <input matInput formControlName="patientName" type="text" placeholder="Patient's Name"  required>
            
        </mat-form-field>
        
            <mat-form-field class="snap-data-control">
            <input matInput formControlName="patientdob" type="date" useValueAsDate  placeholder="Patient's Birth Date"  required>
            
        </mat-form-field>
        
        <mat-form-field class="snap-data-control">
            <textarea matInput placeholder="Patient's Address" formControlName="patientAddress"></textarea>
        </mat-form-field>
            <mat-radio-group class="snap-data-control" color="primary" formControlName="gender" placeholder="Sex">
            <mat-radio-button value="Male" color="primary">Male</mat-radio-button>
            <mat-radio-button value="Female" color="primary">Female</mat-radio-button>
        </mat-radio-group>
    </section>
    <section class="snap-section">

        <mat-form-field>
            <mat-select placeholder="Marital Status" formControlName="maritalStatus" class="snap-data-control">
                <mat-option *ngFor="let maritalStatus of allMaritalStatuses" [value]="maritalStatus.maritalStatusName">{{maritalStatus.maritalStatusName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Employment Status" formControlName="employmentStatus" class="snap-data-control">
                <mat-option *ngFor="let empStatus of allEmploymentStatus" [value]="empStatus.statusName">{{empStatus.statusName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="snap-data-control" >
            <input matInput formControlName="chartId" placeholder="Chart Id" >
        </mat-form-field> 
    </section>
</section>