<div>
    <form [formGroup]="claimForm" novalidate >
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon *ngIf="isClaimFormValid">thumb_up</mat-icon> 
                    <mat-icon *ngIf="!isClaimFormValid">thumb_down</mat-icon> 
                    Diagnostics
                </ng-template>
                <br>
                <mat-card class="mat-card-mg6" tabindex="0" #detailCard>
                    <mat-card-subtitle>
                        <h5>Details</h5>
                    </mat-card-subtitle>
                    <mat-card-content>
                        <snap-claim-charges *ngFor="let claimCharge of this.claimData.claimChargesData;"
                            #claimChargesControl
                            (onClaimSaved)="this.onClaimSaved($event, i)"
                            (onClaimRemoved)="this.onClaimRemoved($event, i)"
                            (onClaimAdded) = "this.onClaimAdded($event, i)"
                            [chargeId]="claimCharge.chargeId"
                            [claimChargeData]="claimCharge"
                            [claimChargesForm]="this.claimForm">
                        </snap-claim-charges>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
            <mat-tab >
                <ng-template mat-tab-label>
                    <mat-icon *ngIf="isClaimFormValid">thumb_up</mat-icon> 
                    <mat-icon *ngIf="!isClaimFormValid">thumb_down</mat-icon> 
                    Claim Details
                </ng-template>
                <br>
                <mat-card class="mat-card-mg6">
                    <mat-card-subtitle>
                        <h5>Encounter Details</h5>
                    </mat-card-subtitle>
                    <mat-card-content>
                        <section class="snap-section">
                            <mat-checkbox formControlName="isConditionRelatedToEmployment" class="snap-data-control-15"  color="primary">Employment Related?</mat-checkbox>
                            <mat-checkbox formControlName="isAutoAccident" class="snap-data-control-15"  color="primary">Auto-Accident? </mat-checkbox>
                            <mat-checkbox formControlName="isOtherAccident" class="snap-data-control-15"  color="primary">Other-Accident?</mat-checkbox>
                            <mat-form-field class="snap-data-control-15">
                                <input matInput formControlName="accidentDate" type="date" useValueAsDate  placeholder="Condition Date">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder="Auto-Accident State" formControlName="autoAccidentState" class="snap-data-control-15">
                                    <mat-option *ngFor="let state of allStates" [value]="state.stateName">{{state.stateName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </section>
                    
                        <section class="snap-section">
                            <mat-form-field class="snap-data-control-15">
                                <input matInput formControlName="currentIllnessDate" type="date" useValueAsDate  placeholder="Date Of Current Illness">
                            </mat-form-field>
                            <mat-form-field class="snap-data-control-15">
                                <input matInput formControlName="prevIllnessDate" type="date" useValueAsDate  placeholder="Date Of Previous Illness">
                            </mat-form-field>
                            <mat-form-field class="snap-data-control-15">
                                <input matInput formControlName="unableToWorkFrom" type="date" useValueAsDate  placeholder="Unable to Work From">
                            </mat-form-field>
                            <mat-form-field class="snap-data-control-15">
                                <input matInput formControlName="unableToWorkTo" type="date" useValueAsDate  placeholder="Unable to Work to">
                            </mat-form-field>
                            <mat-form-field class="snap-data-control-15" >
                                <input matInput formControlName="pos" placeholder="POS" >
                            </mat-form-field>
                            
                        </section>
                    
                        <section class="snap-section">
                            <mat-checkbox formControlName="acceptAssignment" class="snap-data-control-15"  color="primary">Accept Assignment? </mat-checkbox>
                            <mat-checkbox formControlName="emergency" class="snap-data-control-15"  color="primary">Emergency? </mat-checkbox>
                            <mat-form-field class="snap-data-control">
                                <input matInput formControlName="priorAuthNumber" type="text" placeholder="Prior Authorization Number">
                            </mat-form-field>
                            <mat-form-field class="snap-data-control">
                                <input matInput formControlName="coPay" type="number" placeholder="Co Pay">
                            </mat-form-field>
                            <mat-form-field class="snap-data-control">
                                <input matInput formControlName="reservedForLocalUse" type="text" placeholder="Reserved for Local Use">
                            </mat-form-field>
                        </section>
                        <section class="snap-section">
                            <mat-form-field class="narrative"  >
                                <textarea  matInput placeholder="Claim Narrative" formControlName="claimNarrative"></textarea>
                            </mat-form-field>
                        </section>
                    
                    </mat-card-content>
                </mat-card>       
                    
            </mat-tab>
            <mat-tab >
                <ng-template mat-tab-label>
                    <mat-icon *ngIf="isClaimFormValid">thumb_up</mat-icon> 
                    <mat-icon *ngIf="!isClaimFormValid">thumb_down</mat-icon> 
                    Provider Details
                </ng-template>
                <br>
                <mat-card class="mat-card-mg6">
                    <mat-card-subtitle>
                        <h5>Billing Provider</h5>
                    </mat-card-subtitle>
                    <mat-card-content>
                            <snap-claim-provider
                                        #billProv
                                        [disabled]="true"
                                        [claimProviderForm]="this.claimForm"
                                        [ClaimProviderData]="this.claimData.billingProvider">
                            </snap-claim-provider>
                        
                    </mat-card-content>
                </mat-card>
                <br>
                    <mat-card class="mat-card-mg6" *ngIf="!this.copyToRendering">
                        <mat-card-subtitle>
                            <h5>Rendering Provider</h5>
                        </mat-card-subtitle>
                        <mat-card-content>
                                    <snap-claim-provider
                                        #rendProv
                                        [disabled]="true"
                                        [claimProviderForm]="this.claimForm"
                                        [ClaimProviderData]="this.claimData.renderingProvider">
                                </snap-claim-provider>
                        </mat-card-content>
                    </mat-card>
                <br>
                <mat-card class="mat-card-mg6" *ngIf="!this.copyToReferring">
                    <mat-card-subtitle>
                        <h5>Referring Provider</h5>
                    </mat-card-subtitle>
                    <mat-card-content>
                            <snap-claim-provider
                                #refProv
                                [disabled]="false"
                                [claimProviderForm]="this.claimForm"
                                [ClaimProviderData]="this.claimData.referringProvider">
                        </snap-claim-provider>
                    </mat-card-content>
                </mat-card>
                
                <br>
                <mat-card class="mat-card-mg6" *ngIf="!this.copyToFacility">
                    <mat-card-subtitle>
                        <h5>Facility</h5>
                    </mat-card-subtitle>
                    <mat-card-content>
                            <snap-claim-provider
                                #facProv
                                [disabled]="false"
                                [claimProviderForm]="this.claimForm"
                                [ClaimProviderData]="this.claimData.facilityProvider">
                            </snap-claim-provider>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
           
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon *ngIf="isClaimFormValid">thumb_up</mat-icon> 
                    <mat-icon *ngIf="!isClaimFormValid">thumb_down</mat-icon> 
                    Patient & Insurance
                </ng-template>
                <br>
                <mat-card class="mat-card-mg6">
                    <mat-card-subtitle>
                        <h5>Patient Details</h5>
                    </mat-card-subtitle>
                    <mat-card-content >
                            <snap-claim-patient 
                                [claimPatientForm]="this.claimForm"
                                [claimPatientData]="this.claimData.currentPatient">
                            </snap-claim-patient>
                    </mat-card-content>
                </mat-card>
                <mat-card class="mat-card-mg6" *ngIf="this.claimData.currentPatient.hasPrimaryInsurance">
                    <mat-card-subtitle>
                        <h5>Primary Insurance</h5>
                    </mat-card-subtitle>
                    <mat-card-content>
                            <snap-claim-insurance 
                                [ClaimInsuranceData]="this.claimData.currentPatient.primaryInsurance"
                                (onAfterClaimInsuranceFormReady) = "this.setClaimInsuranceData($event, 'primary')"
                                [claimInsuranceForm]="this.claimForm"
                                >
                            </snap-claim-insurance>       
                        
                    </mat-card-content>
                </mat-card>
                <mat-card class="mat-card-mg6" *ngIf="this.claimData.currentPatient.hasSecondaryInsurance">
                    <mat-card-subtitle>
                        <h5>Other Insurance</h5>
                    </mat-card-subtitle>
                    <mat-card-content>
                        <snap-claim-insurance 
                            [ClaimInsuranceData]="this.claimData.currentPatient.secondaryInsurance"
                            (onAfterClaimInsuranceFormReady) = "this.setClaimInsuranceData($event, 'secondary')"
                            [claimInsuranceForm]="this.claimForm">
                        </snap-claim-insurance>                    
                    </mat-card-content>
                </mat-card>
            </mat-tab>
         </mat-tab-group>
         <section class="d-flex flex-row snap-section-right">
             <label class="fill-remaining-space"></label> 
             <button type="button" mat-raised-button color="primary" accesskey="u" [disabled]="!allFormsValid" (click)="this.upload()" >Submit</button> 
             <button type="button" mat-raised-button color="primary" accesskey="s" [disabled]="!allFormsValid" (click)="this.submit()" >Save</button>
             <a mat-button routerLink="/claimlanding">Cancel</a>
         </section>
    </form>
</div>

<div *ngIf="showConfirmationDialog" class="dialog">
    DOS Is set to be current date. Please confirm if it is valid or not.
    <button (click)="close('Yes')">Yes</button>  
    <button (click)="close('No')">No</button>  
  <button *ngIf="closable" (click)="close('No')" aria-label="Close" class="dialog__close-btn">X</button>
</div>
<div *ngIf="showConfirmationDialog" class="overlay" (click)="close('No')"></div>