<dx-data-grid id="gridContainer" 
                [dataSource]="searchResults"
                [showColumnLines]="false"
                [showRowLines]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="false"
                [allowColumnReordering]="true"
                [hoverStateEnabled]="true"
                [allowColumnResizing]="true">
                <dxo-paging [pageSize]="9"> </dxo-paging>
                <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-export [enabled]="true" fileName="ClaimSearchResults" [allowExportSelectedData]="true"> </dxo-export>

                <dxi-column  caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="modifyClaim"></dxi-column>
                <div *dxTemplate="let d of 'modifyClaim'">  
                        <a mat-mini-fab [routerLink]="['/claim',{claimId :d.data.claimId}]" color="primary" 
                            [disabled]="getCanEdit(d.data.claimStatus)" >
                        <mat-icon mdTooltip="Modify Claim">monetization_on</mat-icon>
                    </a>
                </div>
                
                <dxi-column caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="uploadClaim"></dxi-column>
                <div *dxTemplate="let d of 'uploadClaim'"> 
                    <button type="button" mat-mini-fab color="primary" (click)="upload(d.data.claimId)" 
                        [disabled]="getCanSubmit(d.data.claimStatus)">
                        <mat-icon mdTooltip="Submit Claim">file_upload</mat-icon>
                    </button>
                </div>
                <dxi-column caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="eraDetails"></dxi-column>
                <div *dxTemplate="let d of 'eraDetails'"> 
                    <a mat-mini-fab [routerLink]="['/eradetail',{claimId :d.data.claimId}]"
                        [disabled]="getCanViewDetails(d.data.claimStatus)">
                        <mat-icon mdTooltip="ERA Details">details</mat-icon>
                    </a>
                </div>
                <dxi-column caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="eraPDF"></dxi-column>
                <div *dxTemplate="let d of 'eraPDF'"> 
                    <a mat-mini-fab (click)="getERAPDF(d.data.claimId)"
                        [disabled]="getCanViewDetails(d.data.claimStatus)">
                        <mat-icon mdTooltip="Download ERA">picture_as_pdf</mat-icon>
                    </a>
                </div>

                <dxi-column caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="manualPaymentTemplate"></dxi-column>
                <div *dxTemplate="let d of 'manualPaymentTemplate'" > 
                    <a mat-mini-fab [routerLink]="['/manualPayment',{claimId :d.data.claimId}]" *ngIf="!getMunualPaymentAdjustment(d.data.claimId)"
                        [disabled]="getCanSubmit(d.data.claimStatus)" >
                        <mat-icon mdTooltip="Update Payment">payment</mat-icon>
                    </a>

                    <a mat-mini-fab [routerLink]="['/manualPayment',{claimId :d.data.claimId}]" *ngIf="getMunualPaymentAdjustment(d.data.claimId)"
                        color="primary" class="mat-primary" >
                        <mat-icon mdTooltip="Update Payment">payment</mat-icon>
                    </a>
                </div>

                <!-- <dxi-column caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="manualPaymentTemplate"></dxi-column>
                <div *dxTemplate="let d of 'manualPaymentTemplate'" > 
                    <a mat-mini-fab [routerLink]="['/manualPayment',{claimId :d.data.claimId}]"  *ngIf="!getMunualPaymentAdjustment(d.data.claimId)"
                         color="primary">
                        <mat-icon mdTooltip="Update Payment">payment</mat-icon>
                    </a>
                </div> -->

                <dxi-column caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="deleteClaim"></dxi-column>
                <div *dxTemplate="let d of 'deleteClaim'"> 
                    <a mat-mini-fab *ngIf="getCanDelete(d.data.claimStatus)"  (click)="claimDelete(d.data.claimId)" >
                        <mat-icon mdTooltip="Delete Claim">delete</mat-icon>
                    </a>
                </div>
            
                
                <dxi-column dataField="claimCreatedDate" dataType="date" caption="Created Date" format="MM/dd/yyyy"  [width]="100" ></dxi-column>
                <dxi-column dataField="fromDOS" dataType="date" caption="DOS" format="MM/dd/yyyy"  [width]="100" ></dxi-column>
                <dxi-column dataField="claimStatus"  caption="Status"   [width]="100" ></dxi-column>
                <dxi-column dataField="patientFirstName"  caption="First"   [width]="100" ></dxi-column>
                <dxi-column dataField="patientLastName"  caption="Last"   [width]="100" ></dxi-column>
                <dxi-column dataField="patientChartId"  caption="Chart ID"   [width]="100" ></dxi-column>
                <dxi-column dataField="primaryPolicyNo"  caption="Policy"   [width]="100" ></dxi-column>
                <dxi-column dataField="primaryPayerName"  caption="Payer"   [width]="200" ></dxi-column>
                <dxi-column dataField="renderingFirstName"  caption="Doctor"   [width]="100" ></dxi-column>
                <dxi-column dataField="totalCharges"  caption="Charges"   [width]="100" ></dxi-column>
                <dxi-column dataField="totalPaidERA"  caption="Paid"   [width]="100" ></dxi-column>
                <dxi-column dataField="summaryMessage"  caption="Message"   [width]="500" ></dxi-column>

</dx-data-grid>

