<mat-form-field class="snap-data-control" [formGroup]="ClaimPaymentForm">
  <input matInput [matDatepicker]="dp" placeholder="Month and Year" class="snap-data-control" formControlName="monthandyear" [max]="maxDate">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>