<form  [formGroup]="searchForm" novalidate>
  <div [class.snap-app-dev]="isDarkTheme" >
    <mat-toolbar color="primary" class="mat-elevation-z10">
      <button mat-icon-button (click)="toggleSideNav()">
        <mat-icon matTooltip="Menu">menu</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="icon-20" mdTooltip="Dashboard" [routerLink]="['/dashboard']">dashboard</mat-icon>
      </button>
      <button mat-icon-button *ngIf='currentUser?.userMenu.claims_search'>
        <mat-icon class="icon-20" mdTooltip="Claims" [routerLink]="['/claimlanding']">monetization_on</mat-icon>
      </button>
      <button mat-icon-button *ngIf='currentUser?.userMenu.accAppointments'>
        <mat-icon class="icon-20" mdTooltip="Manage Appointments" [routerLink]="['/apptmanage']">schedule</mat-icon>
      </button>
      <button mat-icon-button *ngIf='currentUser?.userMenu.appointment_search'>
        <mat-icon class="icon-20" mdTooltip="Search Appointments" [routerLink]="['/appt']">date_range</mat-icon>
      </button>
      <span class="snap-data-control"> {{currentScreenName}}</span>
      <span class="snap-data-control"> <h4> {{currentUser?.clinicName}} </h4></span>
      <span class="fill-remaining-space"></span>
      <div class="snap-data-control" *ngIf='currentUser?.firstName'>
        {{currentUserWelcomeString}}
      </div>
      <div>
        <section *ngIf='currentUser?.userMenu.patient_search'>
          <mat-form-field class="fill-remaining-space" color="warn" >
            <input matInput formControlName="searchText"  [matAutocomplete]="auto" placeholder="Search" 
              #searchTerm (keyup.enter)="searchFromTextBox(searchTerm)" >
          </mat-form-field>
          
          <button mat-icon-button (click)="searchFromTextBox(searchTerm)">
            <mat-icon class="icon-20" mdTooltip="Search">search</mat-icon>
            <!-- <mat-icon class="icon-20" mdTooltip="Search" [routerLink]="['/landing',{searchTerm :this.searchTerm}]">search</mat-icon> -->
          </button>
          
        </section>
      </div>
      <!-- <button mat-icon-button [mat-menu-trigger-for]="alertMenu" *ngIf="this.currentUser?.isAuthenticated">
        <mat-icon class="icon-20" mdTooltip="Alerts">add_alert</mat-icon>3
      </button> -->
      <button mat-icon-button [mat-menu-trigger-for]="mainMenu">
         <mat-icon class="icon-20" mdTooltip="More Options" >more_vert</mat-icon>
      </button>       
    </mat-toolbar>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option (onSelectionChange)="searchWithString($event, option)" *ngFor="let option of filteredOptions " 
      [value]="option">
          {{ option }}  
      </mat-option>
    </mat-autocomplete>

<!--     
    <mat-menu #alertMenu="mdMenu">
      
      <button mat-menu-item>You have 3 Rejected claims  </button>
      <button mat-menu-item>You have 15 claims to be Submitted</button>
      <button mat-menu-item>You have 2 claims that are older than 30 days to be paid</button>
      
    </mat-menu>
     -->
    <!--
    <mat-menu #alertMenu="mdMenu" *ngFor="let alert of this.localAlerts">
      <button mat-menu-item>Current Alerts</button>
      <button mat-menu-item>{{alert.alertText}}</button>
    </mat-menu>
    -->
    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item (click)="logout()" *ngIf='currentUser?.firstName'>Logout</button>
      <button mat-menu-item (click)="getChangePasswordPopup()" *ngIf='currentUser?.firstName'>Change Password</button>
      <button mat-menu-item>Help</button>
    </mat-menu>

    <mat-sidenav-container>
      <mat-sidenav align="left" mode="over" #sidenav>
        <app-accordian></app-accordian>
     </mat-sidenav> 
     <router-outlet></router-outlet>
    </mat-sidenav-container>
</div>

</form>

<section>
    <p-dialog header="Change Password" [(visible)]="selectPopupVisible" [width]="600" [closable]="true">
            <form [formGroup]="changePassword" (submit)="onFormSubmit($event)">
                    <dx-form id="template-form"
                    [colCount]="1"
                     labelLocation="top">
                    <dxi-item  [label]="{text: 'New Password'}" >
                    <dx-text-box formControlName="password" mode="password" [(value)]="password">
                        <dx-validator>
                        <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                    </dxi-item>
                    <dxi-item  [label]="{text: 'Confirm Password'}" >
                            <dx-text-box formControlName="confirmPassword">
                                <dx-validator>
                                    <dxi-validation-rule type="required" message="Confirm Password is required"></dxi-validation-rule>
                                    <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"
                        message="Password and Confirm Password do not match"></dxi-validation-rule>
                                </dx-validator>
                            </dx-text-box>
                    </dxi-item>
                        <dxi-item  [label]="{text: ' '}" >
                            <dx-button text="Submit"type="success"  class="mat-raised-button mat-primary"
                        [useSubmitBehavior]="true"></dx-button>
                        </dxi-item>
</dx-form>
            </form>
    </p-dialog>
</section>