::ng-deep .showtime-preview > div:first-child {
    font-size: 16px;
    white-space: normal;
    padding-left: 20px;
    padding-right: 20px;
}
::ng-deep .showtime-preview > div:not(:first-child) {
    font-size: 18px;
    white-space: normal;
    padding-left: 20px;
    padding-right: 20px;
}