<p-dataTable [value]="appointments" [globalFilter]="gb" 
     reorderableColumns="true" resizableColumns="true" columnResizeMode="expand" [sortableRowGroup]="false"
     [rows]="20" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]"
     scrollable="true"  >
    <p-column styleClass="col-button">
        <ng-template let-searchResult="rowData" pTemplate="body">
             <a mat-mini-fab [routerLink]="['/claim',{appointmentId : searchResult.id}]" color="primary">                
                <mat-icon mdTooltip="Generate new claim" class="icon-20">monetization_on</mat-icon>
            </a>
            <a mat-mini-fab [routerLink]="['/patient',{patientId :searchResult.patientId}]">
                <mat-icon mdTooltip="Patient Details" class="icon-20">description</mat-icon>
            </a>
            <button type="button" (click)="processCurrentAppointment(searchResult)" mat-mini-fab color="primary">
                <mat-icon class="icon-20">check_circle</mat-icon>
            </button>  
        </ng-template>
    </p-column>
    <p-column field="appointmentDate" header="Date" [filter]="false" [sortable]="true" filterPlaceholder="Date">
        <ng-template pTemplate="body" let-searchResult="rowData">
            {{searchResult.appointmentDate | date:'shortDate'}}
        </ng-template>
    </p-column> 
    <p-column field="start" header="Start" [filter]="false" [sortable]="true" filterPlaceholder="Start">
        <ng-template pTemplate="body" let-searchResult="rowData">
                {{searchResult.start | date:'shortTime'}}
        </ng-template>
    </p-column>
    <p-column field="end" header="End" [filter]="false" [sortable]="true" filterPlaceholder="End">
            <ng-template pTemplate="body" let-searchResult="rowData">
                    {{searchResult.end | date:'shortTime'}}
            </ng-template>
    </p-column>

    <p-column field="patientFullName" header="Patient" [filter]="true" [sortable]="true" filterPlaceholder="Patient"></p-column>
    <p-column field="dob" header="DOB" [filter]="true" [sortable]="true" filterPlaceholder="DOB">
        <ng-template pTemplate="body" let-searchResult="rowData">
            {{searchResult.dob | date:'shortDate'}}
        </ng-template>
    </p-column> 
    <p-column field="payerName" header="Insurance" [filter]="true" [sortable]="true" filterPlaceholder="Insurance"></p-column>
    <p-column field="status" header="Status" [filter]="true" [sortable]="true" filterPlaceholder="Status"></p-column>
    <p-column field="isCashPayment" header="Cash Pay" [filter]="true" [sortable]="true" filterPlaceholder="Cash Pay"></p-column>
    <p-column field="billed" header="Billed" [filter]="true" [sortable]="true" filterPlaceholder="Billed"></p-column>
    <p-column field="paid" header="Paid" [filter]="true" [sortable]="true" filterPlaceholder="Paid"></p-column>

</p-dataTable>
<form [formGroup]="appointmentForm" novalidate >
    <section>
        <p-dialog header="Process Patient" [(visible)]="showCheckIn" [width]="700" [closable]="true">
            <section>
                <mat-form-field class="snap-data-control-30" >
                    <input matInput formControlName="patientFullName" placeholder="Full Name" type="text" disabled >
                </mat-form-field>  
                <mat-form-field class="snap-data-control-30" >
                    <input matInput formControlName="payerName" placeholder="Payer" type="text">
                </mat-form-field> 
                <mat-form-field>
                    <mat-select placeholder="Status" formControlName="status" required class="snap-data-control-30">
                        <mat-option *ngFor="let apptStatus of apptStatuses" [value]="apptStatus.status">{{apptStatus.status}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="snap-data-control-30" >
                    <input matInput formControlName="apptDate" useValueAsDate type="date" placeholder="Appointment Date">
                </mat-form-field>  

                <mat-form-field class="snap-data-control-30" >
                    <input matInput formControlName="start" placeholder="Start"  type="time" >
                </mat-form-field>   
                

                <mat-form-field class="snap-data-control-30" > 
                    <input matInput formControlName="end" placeholder="End"  type="time" >
                </mat-form-field>   


                <!-- <p-calendar class="snap-data-control-30" formControlName="start"  placeholder="Start" 
                            [timeOnly]="true" hourFormat="24" (onBlur)="changeStartDate.bind(this)"></p-calendar>
                <p-calendar class="snap-data-control-30" formControlName="end"  placeholder="End" 
                    [timeOnly]="true" hourFormat="24"></p-calendar> -->

                
                <!-- <dx-date-box formControlName="start" name="start"> </dx-date-box> 
              
                <dx-date-box formControlName="end" name="end"> </dx-date-box>

                -->
                
              
                
                
            </section>
            <section>
                <mat-form-field class="snap-data-control-30" >
                    <input matInput formControlName="dob" useValueAsDate type="date" placeholder="Date Of Birth">
                </mat-form-field>  
                <mat-form-field class="snap-data-control-30" >
                        <input matInput formControlName="phone" type="text" placeholder="Phone">
                </mat-form-field>         
                <mat-checkbox class="snap-data-control" [checked]="true" formControlName="isCashPayment"  
                    color="primary">Self Pay
                </mat-checkbox>
            </section>
            <section>
                <mat-form-field class="snap-data-control-30" >
                    <input matInput formControlName="billed" type="number" placeholder="Expected Amount">
                </mat-form-field>
                <mat-form-field class="snap-data-control-30" >
                    <input matInput formControlName="paid" type="number" placeholder="Received Amount">
                </mat-form-field>
            </section>
            <section>
                <mat-form-field class="snap-full-width">
                    <textarea matInput placeholder="Notes" formControlName="notes"></textarea>
                </mat-form-field>                    
            </section>
            <section>
                <button type="button" (click)="updateAppointment()" mat-fab color="primary" >
                    <mat-icon class="icon-20" mdTooltip="Update Appointment">check_circle</mat-icon>
                </button> 
                <button type="button" (click)="copyAppointment()" mat-fab color="primary">
                        <mat-icon class="icon-20" mdTooltip="Copy Appointment">content_copy</mat-icon>
                </button> 
                <button type="button" (click)="cancel()" mat-fab color="accent">
                    <mat-icon class="icon-20" mdTooltip="Cancel Operation">cancel</mat-icon>
                </button> 
            </section>
        </p-dialog>
    </section>
</form>
