<form>
    <section class="snap-section" >
        <mat-form-field class="fill-remaining-space" >
            <input matInput name="searchTerm" autofocus autocomplete="off" 
                   placeholder="Search" #searchTerm (keyup.enter)="search(searchTerm)" >
        </mat-form-field> 
        <button type="button" mat-mini-fab color="primary" (click)="search(searchTerm)">
            <mat-icon>search</mat-icon>
        </button>
        <button type="button" (click)="addNew()" mat-mini-fab color="accent">
            <mat-icon>add</mat-icon>
        </button>
    </section>
    <div class="mat-padding" fxLayout="column" fxLayoutWrap>
        <appt-results [appointments] = "searchResults">
        </appt-results>
    </div>
</form>
