<dx-scheduler
    #apptSch
    [dataSource]="appointmentsData"
    [views]='["agenda", "month", "week", "workWeek", "day"]'
    currentView="day"
    [cellDuration]="15"
    startDateExpr="start"
    endDateExpr="end"
    textExpr="title"
    [firstDayOfWeek]="0"
    [startDayHour]="8"
    [endDayHour]="20"
    [currentDate]="currentDate"
    [useDropDownViewSwitcher]="true"
    [showAllDayPanel]="false"
    appointmentTemplate="appointment-template"
 
    (onAppointmentRendered)="onAppointmentRendered($event)"
    (currentDateChange)="oncurrentDateChange($event)"
    (onCellClick)="onCellClick($event)"
    (onAppointmentClick) = "onAppointmentClicked($event)"
    (onAppointmentDblClick)="onAppointmentDblClick($event)"
    (onAppointmentAdding) ="onAppointmentAdding($event)"
    (onAppointmentFormCreated)="onAppointmentFormCreated($event)"
    width="100%"
    [height]="600">
    
    <div *dxTemplate="let appt of 'appointment-template'">
        <div class='showtime-preview'>
            <div>{{getApptText(appt.id)}}</div>           
        </div>
    </div>
   <!--  <div *dxTemplate="let appt of 'tooltip-template'">
        <div class='movie-tooltip'>
            <div class='movie-info'>
                <div class='movie-title'>
                    {{getApptTitle(appt.id).text}}
                </div>
                <div>
                    {{'Patient: ' + getPatientName(appt.id)}}
                </div>
            </div>   
            <dx-button text='Edit details' (onClick)='editDetails(showtime)' type="default"></dx-button>        
        </div>
    </div> -->
    <dxo-editing #editingOptions [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false"
        [allowResizing]="false" [allowDragging]="false"></dxo-editing>
</dx-scheduler>