<div>
    <form [formGroup]="appointmentForm" novalidate >
        <section>    
            <mat-form-field>
                <mat-select placeholder="Doctor" formControlName="doctorId" class="snap-data-control-15">
                    <mat-option [value]="-1">All</mat-option>
                    <mat-option *ngFor="let provider of allProviders" [value]="provider.providerId">{{provider.firstName}}</mat-option>
                </mat-select>
            </mat-form-field>       
             <mat-form-field class="snap-data-control-10" >
                <input matInput formControlName="start" placeholder="Start"  type="time" >
            </mat-form-field>   
            <mat-form-field class="snap-data-control-10" >
                <input matInput formControlName="end" placeholder="End"  type="time" >
            </mat-form-field>   

            <mat-form-field class="snap-data-control-15" >
                <input matInput formControlName="patientId" placeholder="Patient" [matAutocomplete]="autoPatient" >
            </mat-form-field>   
            <mat-form-field>
                <mat-select placeholder="Encounter" formControlName="encounterType" required class="snap-data-control-10">
                    <mat-option *ngFor="let encType of allEncTypes" [value]="encType.type">{{encType.type}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button type="button" (click)="processCurrentAppointment()" mat-mini-fab color="primary" *ngIf='currentUser?.userMenu.accAppointments'>
                <mat-icon class="icon-20">check_circle</mat-icon>
            </button>  
            <button type="button" (click)="refresh()" mat-mini-fab color="primary">
                <mat-icon class="icon-20">refresh</mat-icon>
            </button>
            <button type="button" (click)="reportSchedule()" mat-mini-fab color="primary" *ngIf='currentUser?.userMenu.accAppointments'>
                <mat-icon class="icon-20">print</mat-icon>
            </button>
            <button type="button" (click)="encounterPatient()" mat-mini-fab color="primary" *ngIf='currentUser?.userMenu.accEncounter'>
                    <mat-icon mdTooltip="Encounter" class="icon-20">show_chart</mat-icon>
                </button>
        </section>
        <section>
           <p-dialog header="Quick Patient" [(visible)]="display" [width]="700">
                <section>
                     <mat-form-field class="snap-data-control-30" >
                        <input matInput formControlName="patientFullName" placeholder="Full Name" type="text" >
                     </mat-form-field>  
                     <mat-form-field class="snap-data-control-30" >
                        <input matInput formControlName="payerName" placeholder="Payer" type="text">
                    </mat-form-field> 
                    <mat-form-field class="snap-data-control-30" >
                        <input matInput formControlName="phoneNumber" placeholder="Phone" type="tel" >
                     </mat-form-field>  
                     <button type="button" (click)="apply()" mat-mini-fab color="primary">
                        <mat-icon>check_circle</mat-icon>
                    </button> 
                </section>
           </p-dialog>
        </section>
        <section>
            <mat-autocomplete #autoPatient="matAutocomplete"  [displayWith]="displayFnForPatient.bind(this)">
                <mat-option (onSelectionChange)="searchPatient($event, patient)" *ngFor="let patient of filteredPatients" 
                           [value]="patient">{{patient.patientTitle }}
                </mat-option>
            </mat-autocomplete>
        </section>
        <section class="snap-section">
            <dev-scheduer 
                #apptDevScheduler
                [currentDate]="startDate"
                [doctorId]="doctorId"
                (onDayClicked) = "onDayClicked($event)"
                (onEventClicked)="onEventClicked($event)">
            </dev-scheduer>
        </section>
        <section>
           <p-dialog header="Process Patient" [(visible)]="showCheckIn" [width]="700" [closable]="false">
                <section>
                     <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="patientFullName" placeholder="Full Name" type="text" disabled >
                     </mat-form-field>  
                     <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="payerName" placeholder="Payer" type="text">
                    </mat-form-field> 
                    <mat-form-field>
                        <mat-select placeholder="Status" formControlName="status" required class="snap-data-control">
                            <mat-option *ngFor="let apptStatus of apptStatuses" [value]="apptStatus.status">{{apptStatus.status}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>
                <section>
                    <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="dob" useValueAsDate type="date" placeholder="Date Of Birth">
                    </mat-form-field>  
                    <mat-form-field class="snap-data-control" >
                            <input matInput formControlName="phone" type="text" placeholder="Phone">
                        </mat-form-field>         
                     <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="billed" type="number" placeholder="Expected Amount">
                    </mat-form-field>
                    <mat-form-field class="snap-data-control" >
                        <input matInput formControlName="paid" type="number" placeholder="Received Amount">
                    </mat-form-field>
                                    
                </section>
                <section>
                    <mat-form-field class="snap-full-width">
                        <textarea matInput placeholder="Notes" formControlName="notes"></textarea>
                    </mat-form-field>                    
                </section>
                <section>
                    <mat-checkbox class="snap-data-control" [checked]="true" formControlName="isCashPayment"  
                        color="primary">Self Pay
                    </mat-checkbox>             
                    <button type="button" (click)="checkPatientIn()" mat-mini-fab color="primary">
                        <mat-icon>check_circle</mat-icon>
                    </button> 
                    <button type="button" (click)="cancelPatientCheckIn()" mat-mini-fab color="accent">
                        <mat-icon>cancel</mat-icon>
                    </button> 
                </section>
           </p-dialog>
        </section>
   


    </form>
</div>
