 <section [formGroup]="this.childForm">
        <div>
            <input type="text" formControlName="childId">
        </div>
        <div>
            <input type="text" formControlName="childName">
        </div>
        <div>
            <mat-form-field>
             <mat-select placeholder="State" formControlName="stateId" required autocomplete="false" class="snap-data-control">
                <mat-option *ngFor="let state of allStates" [value]="state.stateId">{{state.stateName}}</mat-option>
                
            </mat-select>
        </mat-form-field>
        </div>
    </section>