<section>
    <section class="snap-section">
        <dx-date-box [(ngModel)]="apptDate" type="date" placeholder="Appointment Date" > 
        </dx-date-box>
        <button type="button" (click)="refresh()" mat-mini-fab color="primary">               
            <mat-icon class="icon-20">refresh</mat-icon>
        </button>
    </section>
    
    <section>
        <dx-data-grid id="gridContainer" 
            [dataSource]="appointmentsData"
            [showColumnLines]="true"
            [showRowLines]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            [allowColumnReordering]="true"
            [allowColumnResizing]="true">        
            <dxo-export [enabled]="true" fileName="Appointments" 
                        [allowExportSelectedData]="true">
            </dxo-export>
            <dxi-column dataField="scheduleTime"  caption="Schedule" [width]="250"></dxi-column>
            <dxi-column dataField="patientFullName"  caption="Full Name"  [width]="150" ></dxi-column>
            <dxi-column dataField="dob" caption="DOB" dataType="date" [width]="100" ></dxi-column>
            <dxi-column dataField="payerName" caption="Insurance" [width]="200" ></dxi-column>
            <dxi-column dataField="notes" caption="Notes"></dxi-column>
        </dx-data-grid>
    </section>
</section>
