   
<table>
    <tr>
        <td>
            <div> Paid From Date</div>
        </td>
        <td>
            <dx-date-box [(ngModel)]="fromDate" type="date" placeholder="Paid From Date" > </dx-date-box>
        </td>
        <td>
            <div>Paid To Date</div>

        </td>
        <td>
            <dx-date-box class="dx-field-value"  [(ngModel)]="toDate" type="date" placeholder="Paid To Date" > </dx-date-box>
        </td>
        <td>
            <div>Include Zero Payments</div> 
        </td>
        <td>
            <dx-check-box [(value)]="includeZeroPayments"></dx-check-box>
        </td>
        <td>
            <button type="button" (click)="getPaymentReportByCheckData()" mat-mini-fab color="primary">               
                <mat-icon class="icon-20">refresh</mat-icon>
            </button>

        </td>
        <td>
                <button type="button" (click)="getPaymentReportByCheckReport()" mat-mini-fab color="primary">               
                    <mat-icon class="icon-20">print</mat-icon>
                </button>
                
            </td>
    </tr>
</table>

<section>
        <dx-data-grid id="gridContainer" 
            [dataSource]="paymentsByCheck"
            [showColumnLines]="true"
            [showRowLines]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            [allowColumnReordering]="true"
            
            [allowColumnResizing]="true">
            
            <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>        
            <dxo-export [enabled]="true" fileName="PaymentsByCheck" 
                        [allowExportSelectedData]="true">
            </dxo-export>
            
            <dxi-column dataField="payerId"  caption="Payer Id" [width]="150"></dxi-column>
            <dxi-column dataField="payerName"  caption="Payer" [width]="500"></dxi-column>
            <dxi-column dataField="paidDate" caption="Paid Date" dataType="date" [width]="100" ></dxi-column>
            <dxi-column dataField="paymentType"  caption="Payment Type" [width]="250"></dxi-column>
            <dxi-column dataField="checkNumber"  caption="Check Number"  [width]="250" ></dxi-column>
            <dxi-column dataField="checkAmount" caption="Check Amount"></dxi-column>
            <dxi-column dataField="otherPayments" caption="Other Payments"></dxi-column>

            
        </dx-data-grid>
    </section>