   
<table>
    <tr>
        <td>
            <div> DOS Start Date</div>
        </td>
        <td>
            <dx-date-box [(ngModel)]="startDOS" type="date" placeholder="DOS Start Date" > </dx-date-box>
        </td>
        <td>
            <div>DOS End Date</div>    
        </td>
        <td>
            <dx-date-box class="dx-field-value"  [(ngModel)]="endDOS" type="date" placeholder="DOS End Date" > </dx-date-box>
        </td>
        <td>
            Patient
        </td>
        <td>
            <dx-autocomplete
                placeholder="Type two letters of patient name..."
                valueExpr="patientFullName"
                searchMode = "contains"
                [searchExpr]="['patientFullName','chartId', 'lastName','firstName']"
                [dataSource]="patients"                    
                (onValueChanged)="updatePatient($event)"
                (onItemClick)="onPatientSelected($event)">
                <div *dxTemplate="let item of 'item'">
                    <span>{{item.chartId}}  - {{item.lastName}}, {{item.firstName}}</span>
                </div>
            </dx-autocomplete>

        </td>
        <td>
            CPT Code
        </td>
        <td>
            <dx-autocomplete
                placeholder="Type two letters of CPT Code..."
                valueExpr="cptValue"
                searchMode = "contains"
                [searchExpr]="['cptValue', 'description']"
                [dataSource]="cptCodes"                    
                (onValueChanged)="updateCPTCodes($event)"
                (onItemClick)="onCPTCodeSelected($event)">
                <div *dxTemplate="let item of 'item'">
                    <span>{{item.cptValue}}  - {{item.description}}</span>
                </div>
            </dx-autocomplete>
        </td>
        <td>
            <button type="button" (click)="getClaimPaymentExtendedData()" mat-mini-fab color="primary">               
                <mat-icon class="icon-20">refresh</mat-icon>
            </button>
        </td>
        <td>
            <button type="button" (click)="getClaimPaymentExtendedReport()" mat-mini-fab color="primary">               
                <mat-icon class="icon-20">print</mat-icon>
            </button>
        </td>

    </tr>
</table>

<section>
        <dx-data-grid id="gridContainer" 
            [dataSource]="paymentSummary"
            [showColumnLines]="true"
            [showRowLines]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            [allowColumnReordering]="true"
            
            [allowColumnResizing]="true">
            
            <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>        
            <dxo-export [enabled]="true" fileName="ClaimPaymentsExtended" 
                        [allowExportSelectedData]="true">
            </dxo-export>
            <dxi-column dataField="claimId" caption="Claim Id" [width]="65" ></dxi-column>
            <dxi-column dataField="claimChargeId" caption="Charge Id" [width]="65" ></dxi-column>
            <dxi-column dataField="chartId" caption="Chart Id" [width]="90"></dxi-column>
            <dxi-column dataField="patientName" caption="Patient Name" [width]="150"></dxi-column>
            <dxi-column dataField="fromDOS" caption="From DOS" dataType="date" [width]="80"></dxi-column>
            <dxi-column dataField="toDOS" caption="To DOS" dataType="date" [width]="80"></dxi-column>
            <dxi-column dataField="claimSubmitDate" caption="Submit Dt" dataType="date" [width]="80"></dxi-column>
            <dxi-column dataField="payerId" caption="Payer Id" [width]="75"></dxi-column>
            <dxi-column dataField="payerName" caption="Payer Name" [width]="150"></dxi-column>
            <dxi-column dataField="paymentMode" caption="Mode" [width]="75"></dxi-column>
            <dxi-column dataField="insuranceId" caption="Insurance Id" [width]="150"></dxi-column>
            <dxi-column dataField="procedureCode" caption="CPT" [width]="80"></dxi-column>
            <dxi-column dataField="icdCodes" caption="ICD" [width]="150"></dxi-column>
            <dxi-column dataField="modifier1" caption="M1" [width]="40"></dxi-column>
            <dxi-column dataField="modifier2" caption="M2" [width]="40"></dxi-column>
            <dxi-column dataField="modifier3" caption="M3" [width]="40"></dxi-column>
            <dxi-column dataField="modifier4" caption="M4" [width]="40"></dxi-column>
            <dxi-column dataField="paidDate" caption="Paid Date" dataType="date" [width]="80"></dxi-column>
            <dxi-column dataField="checkNumber" caption="Check Number" [width]="100"></dxi-column>
            <dxi-column dataField="checkAmount" caption="Check Amount" [width]="75"></dxi-column>
            <dxi-column dataField="eraDescription" caption="ERA Desc" [width]="150" ></dxi-column>
            <dxi-column dataField="status" caption="Status" [width]="60"></dxi-column>
            <dxi-column dataField="charges" caption="Charges" [width]="75"></dxi-column>
            <dxi-column dataField="allowedAmount" caption="Allowed" [width]="75"></dxi-column>
            <dxi-column dataField="excessAmount" caption="Excess" [width]="75"></dxi-column>
            <dxi-column dataField="chargeLevelPayment" caption="Paid" [width]="75"></dxi-column>
            <dxi-column dataField="cO24" caption="Seq. Payments" [width]="80"></dxi-column>
            <dxi-column dataField="pR1" caption="Deductible" [width]="75"></dxi-column>
            <dxi-column dataField="pR2" caption="Co-Insurance" [width]="75"></dxi-column>
            <dxi-column dataField="pR3" caption="Co-Pay" [width]="75"></dxi-column>
            <dxi-column dataField="otherAdjustments" caption="Other Adj." [width]="75"></dxi-column>
            <dxi-column dataField="priorAdjustments" caption="Prior Adj" [width]="75"></dxi-column>
            <dxi-column dataField="incentives" caption="Incentive" [width]="75"></dxi-column>
            <dxi-column dataField="otherPatientResponsibility" caption="Oth. Pat. Resp." [width]="75"></dxi-column>
            
            <dxi-column dataField="pos" caption="POS" [width]="40"></dxi-column>
            <dxi-column dataField="referringNPI" caption="Referring" [width]="60"></dxi-column>
            <dxi-column dataField="patientId" caption="PatientId" [width]="40"></dxi-column>
            
        </dx-data-grid>
    </section>