<div>
    <mat-tab-group>
        <mat-tab >
            <ng-template mat-tab-label>
                Claim Parameters
            </ng-template>   
            <section>
                <dx-date-box  class="dx-field-label"
                    placeholder="Claimed From" required [(value)]="claimedFrom"  width="150" >
                </dx-date-box>
                <dx-date-box  class="dx-field-label"
                    placeholder="Claimed To" [(value)]="claimedTo"  width="150" >
                </dx-date-box>
                <dx-date-box  class="dx-field-label"
                    placeholder="From DOS" required [(value)]="fromDos"   width="150" >
                </dx-date-box>
                <dx-date-box  class="dx-field-label"
                    placeholder="To DOS" [(value)]="toDos"    width="150" >
                </dx-date-box>
            
                <dx-drop-down-box
                    
                    [(value)]="selectedPayers"
                    valueExpr="payerId"
                    displayExpr="payerName"
                    [dataSource]="availablePayers"
                    class="dx-field-label"
                    placeholder="Payer(s)"
                    width="200"
                    >
                    <div *dxTemplate="let data of 'content'">
                        <dx-data-grid
                                [dataSource]="availablePayers"
                                
                                [columns]="['payerId', 'payerName']"
                                [selection]="{ mode: 'multiple' }"
                                [hoverStateEnabled]="true"                       
                                [height]="265"
                                [(selectedRowKeys)]="gridBoxValue"
                        >
                        </dx-data-grid>
                    </div>
                </dx-drop-down-box>
            
                <dx-drop-down-box
                    [(value)]="selectedProcedures" 
                    valueExpr="cptValue" displayExpr="cptValue" [dataSource]="availableProcedures"
                    class="dx-field-label" placeholder="Procedure(s)" width="200">
                    <div *dxTemplate="let data of 'content'">
                        <dx-data-grid
                                [dataSource]="availableProcedures" [columns]="['cptValue', 'description']" [selection]="{ mode: 'multiple' }"
                                [hoverStateEnabled]="true" [height]="265" [(selectedRowKeys)]="procedureGridBoxValue"
                        >
                        </dx-data-grid>
                    </div>
                </dx-drop-down-box>
                
            
                <dx-drop-down-box
                    [(value)]="selectedStatuses" valueExpr="statusCode" displayExpr="statusCode" [dataSource]="availableStatuses" 
                    class="dx-field-label" placeholder="Status" width="200" >
                    <div *dxTemplate="let data of 'content'">
                        <dx-data-grid
                                [dataSource]="availableStatuses" [columns]="['statusCode']" [selection]="{ mode: 'multiple' }" 
                                [hoverStateEnabled]="true" [height]="265" [(selectedRowKeys)]="statusesGridBoxValue" >
                        </dx-data-grid>
                    </div>
                </dx-drop-down-box>
                
                <button type="button" (click)="refresh()" mat-mini-fab color="primary">               
                    <mat-icon class="icon-20">refresh</mat-icon>
                </button>
            </section>
            <br/>
            <section >
                <dx-data-grid
                    id="gridContainer"
                    [dataSource]="claimReport"
                    [allowColumnResizing]="true"
                    [allowColumnReordering]="true"
                    
                    [columnMinWidth]="50"
                    [columnAutoWidth]="true"
                    [showColumnLines]="false"
                    [showRowLines]="true"
                    [showBorders]="true"
                    [rowAlternationEnabled]="true"
                   
                    >
                    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
                    <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>
                    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-state-storing [enabled]="true" type="localStorage" storageKey="claims-flat-grid"></dxo-state-storing>
                    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20,50,100]"></dxo-pager>

                </dx-data-grid>
            </section>
        </mat-tab>
        <mat-tab >
                <ng-template mat-tab-label>
                   Claim Analysis
                </ng-template>        
                <section>
                    <dx-pivot-grid id="claims"
                        [allowSortingBySummary]="true"
                        [allowSorting]="true"
                        [allowFiltering]="true"
                        [allowExpandAll]="true"
                        [showColumnGrandTotals]="true"
                        [showRowGrandTotals]="false"
                        [showBorders]="true"
                        [dataSource]="dataSource">
                        <dxo-export [enabled]="true" fileName="Claims"></dxo-export>
                        <dxo-field-chooser [enabled]="true"></dxo-field-chooser>
                        <dxo-state-storing [enabled]="true" type="localStorage" storageKey="claim-pivotgrid">
                        </dxo-state-storing>
                    </dx-pivot-grid>
                </section>
            </mat-tab>
    </mat-tab-group>
</div>