   
<table>
    <tr>
        <td>
            <div> Paid From Date</div>
        </td>
        <td>
            <dx-date-box [(ngModel)]="fromDate" type="date" placeholder="Paid From Date" > </dx-date-box>
        </td>
        <td>
            <div>Paid To Date</div>

        </td>
        <td>
            <dx-date-box class="dx-field-value"  [(ngModel)]="toDate" type="date" placeholder="Paid To Date" > </dx-date-box>
        </td>
        <td>
            <button type="button" (click)="getPaymentByPayerData()" mat-mini-fab color="primary">               
                <mat-icon class="icon-20">refresh</mat-icon>
            </button>

        </td>
        <td>
                <button type="button" (click)="getPaymentByPayerReport()" mat-mini-fab color="primary">               
                    <mat-icon class="icon-20">print</mat-icon>
                </button>
                
            </td>
    </tr>
</table>

<section>
        <dx-data-grid id="gridContainer" 
            [dataSource]="paymentsByPayers"
            [showColumnLines]="true"
            [showRowLines]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            [allowColumnReordering]="true"
            
            [allowColumnResizing]="true">
            
            <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>        
            <dxo-export [enabled]="true" fileName="PaymentsByPayers" 
                        [allowExportSelectedData]="true">
            </dxo-export>
            <dxi-column dataField="payerName"  caption="Payer" [width]="250"></dxi-column>
            <dxi-column dataField="checkNumber"  caption="Check Number"  [width]="150" ></dxi-column>
            <dxi-column dataField="paidDate" caption="Paid Date" dataType="date" [width]="100" ></dxi-column>
            <dxi-column dataField="procCode"  caption="CPT" [width]="250"></dxi-column>
            <dxi-column dataField="claimCharges" caption="Claim Charges" [width]="200" ></dxi-column>
            <dxi-column dataField="chargeLevelPayment" caption="Paid"></dxi-column>
            <dxi-column dataField="coAdj" caption="CO Adjustments"></dxi-column>
            <dxi-column dataField="payableAdjustments" caption="Payable Adjustments"></dxi-column>
            <dxi-column dataField="oaAdj" caption="Other Adjustments"></dxi-column>
            <dxi-column dataField="deductiblePR1" caption="Deductible"></dxi-column>
            <dxi-column dataField="coInsurancePR2" caption="CO Insurance"></dxi-column>
            <dxi-column dataField="coPaymentPR3" caption="CO Pay"></dxi-column>
            <dxi-column dataField="otherPR" caption="Other PR"></dxi-column>
            <dxi-column dataField="priorAdjustments" caption="Prior Adjustments"></dxi-column>
        </dx-data-grid>
    </section>