   
<table>
        <tr>
            <td>
                <div> Paid From Date</div>
            </td>
            <td>
                <dx-date-box [(ngModel)]="fromDate" type="date" placeholder="Paid From Date" > </dx-date-box>
            </td>
            <td>
                <div>Paid To Date</div>    
            </td>
            <td>
                <dx-date-box class="dx-field-value"  [(ngModel)]="toDate" type="date" placeholder="Paid To Date" > </dx-date-box>
            </td>
            <td>
                Patient
            </td>
            <td>
                <dx-autocomplete
                    placeholder="Type two letters of patient name..."
                    valueExpr="patientFullName"
                    searchMode = "contains"
                    [searchExpr]="['patientFullName','chartId', 'lastName','firstName']"
                    [dataSource]="patients"                    
                    (onValueChanged)="updatePatient($event)"
                    (onItemClick)="onPatientSelected($event)">
                    <div *dxTemplate="let item of 'item'">
                        <span>{{item.chartId}}  - {{item.lastName}}, {{item.firstName}}</span>
                    </div>
                </dx-autocomplete>

            </td>
            <td>
                CPT Code
            </td>
            <td>
                <dx-autocomplete
                    placeholder="Type two letters of CPT Code..."
                    valueExpr="cptValue"
                    searchMode = "contains"
                    [searchExpr]="['cptValue', 'description']"
                    [dataSource]="cptCodes"                    
                    (onValueChanged)="updateCPTCodes($event)"
                    (onItemClick)="onCPTCodeSelected($event)">
                    <div *dxTemplate="let item of 'item'">
                        <span>{{item.cptValue}}  - {{item.description}}</span>
                    </div>
                </dx-autocomplete>
            </td>
            <td>
                <button type="button" (click)="getPaymentDetailsReportData()" mat-mini-fab color="primary">               
                    <mat-icon class="icon-20">refresh</mat-icon>
                </button>
            </td>
            <td>
                <button type="button" (click)="getPaymentDetailsReport()" mat-mini-fab color="primary">               
                    <mat-icon class="icon-20">print</mat-icon>
                </button>
            </td>

        </tr>
    </table>
    
    <section>
            <dx-data-grid id="gridContainer" 
                [dataSource]="paymentSummary"
                [showColumnLines]="true"
                [showRowLines]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="true"
                [allowColumnReordering]="true"
                
                [allowColumnResizing]="true">
                
                <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>        
                <dxo-export [enabled]="true" fileName="PaymentSummary" 
                            [allowExportSelectedData]="true">
                </dxo-export>
                <!--
                <dxi-column dataField="paymentId"  caption="Payment Id"></dxi-column>
                <dxi-column dataField="statusCode"  caption="Status Code"  [width]="150" ></dxi-column>
                -->
                <dxi-column dataField="chargeId" caption="Charge Id" [width]="65" ></dxi-column>
                <dxi-column dataField="eraStatusDescription" caption="Status" [width]="150" ></dxi-column>
                <dxi-column dataField="paidDate" caption="Paid Date" dataType="date" [width]="80"></dxi-column>
                <dxi-column dataField="payerName" caption="Payer Name" [width]="150"></dxi-column>
                <dxi-column dataField="checkNumber" caption="Check Number" [width]="100"></dxi-column>
                <dxi-column dataField="checkAmount" caption="Check Amount" [width]="75"></dxi-column>
                <dxi-column dataField="chartId" caption="Chart Id" [width]="90"></dxi-column>
                <dxi-column dataField="patientName" caption="Patient Name" [width]="150"></dxi-column>
                <dxi-column dataField="dos" caption="DOS" dataType="date" [width]="80"></dxi-column>
                <dxi-column dataField="procCode" caption="CPT" [width]="80"></dxi-column>
                <dxi-column dataField="claimCharges" caption="Claim Charges" [width]="75"></dxi-column>
                <dxi-column dataField="chargeLevelPayment" caption="Paid" [width]="75"></dxi-column>
                <dxi-column dataField="contractualAdjustments" caption="CO-Adj." [width]="75"></dxi-column>
                <dxi-column dataField="seqPayment" caption="Seq. Payments" [width]="75"></dxi-column>
                <dxi-column dataField="deductible" caption="Deductible" [width]="75"></dxi-column>
                <dxi-column dataField="coInsurance" caption="Co-Insurance" [width]="75"></dxi-column>
                <dxi-column dataField="coPay" caption="Co-Pay" [width]="75"></dxi-column>
                <dxi-column dataField="secondaryPayerDues" caption="Sec. Payer Dues" [width]="75"></dxi-column>
                <dxi-column dataField="dueFromPatient" caption="Patient Dues" [width]="75"></dxi-column>
                <dxi-column dataField="dueFromPatientExCoPay" caption="Patient Dues -Ex Co-Pay" [width]="75"></dxi-column>
            </dx-data-grid>
        </section>