   
<table>
        <tr>
            <td>
                <div> Paid From Date</div>
            </td>
            <td>
                <dx-date-box [(ngModel)]="fromDate" type="date" placeholder="Paid From Date" > </dx-date-box>
            </td>
            <td>
                <div>Paid To Date</div>
    
            </td>
            <td>
                <dx-date-box class="dx-field-value"  [(ngModel)]="toDate" type="date" placeholder="Paid To Date" > </dx-date-box>
            </td>
            <td>
                    
                <button type="button" (click)="getPaymentByProcedures()" mat-mini-fab color="primary">               
                    <mat-icon class="icon-20">refresh</mat-icon>
                </button>

            </td>
            <td>
                <button type="button" (click)="getPaymentByProcedureReport()" mat-mini-fab color="primary">               
                    <mat-icon class="icon-20">print</mat-icon>
                </button>
            </td>
        </tr>
    </table>

    <section>
            <dx-data-grid id="gridContainer" 
                [dataSource]="payments"
                [showColumnLines]="true"
                [showRowLines]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="true"
                [allowColumnReordering]="true"
                
                [allowColumnResizing]="true">
                
                <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>        
                <dxo-export [enabled]="true" fileName="PaymentsByProcedures" 
                            [allowExportSelectedData]="true">
                </dxo-export>
                <dxi-column dataField="procCode"  caption="Procedure Code" [width]="150"></dxi-column>
                <dxi-column dataField="cptDesc"  caption="Procedure"  [width]="250" ></dxi-column>
                <dxi-column dataField="dos" caption="DOS" dataType="date" [width]="100" ></dxi-column>
                <dxi-column dataField="coAdj" caption="CO-Adj"></dxi-column>
                <dxi-column dataField="seqPayment" caption="Seq. Payment"></dxi-column>
                <dxi-column dataField="deductible" caption="Deductibel"></dxi-column>
                <dxi-column dataField="coInsurance" caption="Co Ins"></dxi-column>
                <dxi-column dataField="coPay" caption="Co Pay"></dxi-column>
                <dxi-column dataField="secondaryPayerDues" caption="Sec. Ins"></dxi-column>
                <dxi-column dataField="paidDate" caption="Paid Date" dataType="date" [width]="100" ></dxi-column>
                <dxi-column dataField="checkNumber" caption="Check Number" [width]="100" ></dxi-column>

                <dxi-column dataField="payment" caption="Paid"></dxi-column>
            </dx-data-grid>
        </section>