<form novalidate [formGroup]="rolesForm" >
    <section>
        <section>
            <mat-form-field class="snap-data-control-3">
                <input matInput formControlName="id" type="text" placeholder="Id"  required>
            </mat-form-field>
            <mat-form-field class="snap-data-control-10">
                <input matInput formControlName="roleName" type="text" placeholder="Name"  required>
            </mat-form-field>
            <mat-form-field class="snap-data-control-60" >
                <input  matInput placeholder="Description" type="text" formControlName="roleDescription">
            </mat-form-field>
            <button type="button" (click)="submit()" mat-mini-fab color="primary">
                <mat-icon>save</mat-icon>
            </button>
        </section>
    </section>
    <section>
        <!--
        <div class="example-container">
          <div class="example-header">
            <mat-form-field floatPlaceholder="never">
              <input matInput #filter placeholder="Filter">
            </mat-form-field>
          </div>
          <mat-table #table [dataSource]="dataSource">
            <ng-container cdkColumnDef="id">
                <mat-header-cell *cdkHeaderCellDef> ID </mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="roleName">
                <mat-header-cell *cdkHeaderCellDef>Name </mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{row.roleName}} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="roleDescription">
                <mat-header-cell *cdkHeaderCellDef> Description </mat-header-cell>
                <mat-cell *cdkCellDef="let row"> {{row.roleDescription}} </mat-cell>
            </ng-container>
            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          
        </div>
    -->
        <dx-data-grid id="gridContainer" 
            [dataSource]="dataSource"
            [showColumnLines]="true"
            [showRowLines]="true"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            [allowColumnReordering]="true"
            [allowColumnResizing]="true">        
            <dxo-export [enabled]="true" fileName="Appointments" 
                        [allowExportSelectedData]="true">
            </dxo-export>
            <dxi-column dataField="id"  caption="Id" [width]="250"></dxi-column>
            <dxi-column dataField="roleName"  caption="Name"  [width]="150" ></dxi-column>
            <dxi-column dataField="roleDescription" caption="Description"  [width]="100" ></dxi-column>
        </dx-data-grid>

    </section>
</form>
