<form novalidate [formGroup]="userForm" >
    <section>
        <section>
            <mat-form-field class="snap-data-control">
                <input matInput formControlName="userName" type="text" placeholder="User Name"  required>
            </mat-form-field>
            <mat-form-field class="snap-data-control" >
                <input  matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
            <mat-form-field class="snap-data-control" >
                <input  matInput placeholder="Confirm Password" type="confPassword" formControlName="confPassword">
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Secret Question" formControlName="secretQuestionId" class="snap-data-control">
                    <mat-option *ngFor="let q of allSecretQuestion" [value]="q.secretQuestionID">
                                {{q.secretQuestionText}}
                    </mat-option>
                </mat-select>
             </mat-form-field>
            <mat-form-field class="snap-data-control">
                <input matInput formControlName="secretQuestionAnswer" type="text" placeholder="Secret Answer">
                
            </mat-form-field>
             <mat-form-field class="snap-data-control">
                <input matInput formControlName="firstName" type="text" placeholder="First Name" required>
                
            </mat-form-field>
            <mat-form-field class="snap-data-control">
                <input matInput formControlName="lastName" type="text" placeholder="Last Name" required>
                
            </mat-form-field>
             <mat-form-field class="snap-data-control-40">
                <input matInput formControlName="email" type="email" autocomplete="false" placeholder="Email">
                
            </mat-form-field>
            <mat-form-field class="snap-data-control">
                <input matInput formControlName="phoneNumber" type="tel" autocomplete="false" placeholder="Primary Phone">
                
            </mat-form-field>
            <button type="button" (click)="submit()" mat-mini-fab color="primary">
                <mat-icon>save</mat-icon>
            </button>
        </section>
    </section>
</form>