<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()">
        <div class="form-group files">
          <label>Upload OPIE File(s)</label>
          <input type="file" class="form-control" formControlName="fileupload" multiple  (change)="onFileChange($event)">
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>
  </div>
</div>