<form name="uploadForm" enctype="multipart/form-data">
    <section>
        <dx-file-uploader 
            #devUploader
            accept="image/*"
            hint="Upload File"
            hoverStateEnabled="true"
            uploadMode="useForm">
        </dx-file-uploader>
    </section>
    <section>
        <input type="button" placeholder="Upload" (click)="onUploadClicked()" value="Upload">
        

        <!-- <input type="file" class="snap-data-control" (change)="fileChange($event)" placeholder="Upload file" accept="*"> -->
    </section>
</form>