<form [formGroup]="claimForm" novalidate>
   
    <section formArrayName="claimCharges">
        <div *ngFor="let claimCharge of claimForm.controls.claimCharges; let i=index">
            <div>
                <span>Charge {{i + 1}}</span>
                <div [formGroupName]="i">
                    <dx-date-box  class="dx-field-label"
                        placeholder="DOS" formControlName="fromDate" [min]="min" [max]="now" width="150" >
                    </dx-date-box>
                    <dx-autocomplete  class="dx-field-label" placeholder="CPT" valueExpr="cptValue"
                        [showClearButton]="true" [dataSource]="cptCodes" formControlName="procedureCode" searchExpr = "description"
                        width="100" (onValueChanged)="searchCptCode($event)">
                        <div *dxTemplate="let item of 'item'">
                            <span>{{item.description}}</span>
                        </div>
                    </dx-autocomplete>
                    <dx-tag-box  class="dx-field-label" [dataSource]="icdCodes" valueExpr="code" displayExpr="description" 
                        placeholder="ICD" width="150" [searchEnabled]="true"
                        [hideSelectedItems]="true" [acceptCustomValue]="true"  (onCustomItemCreating)="searchICDCode($event)" >
                    <!--  [items]="icdCodes" -->
                    </dx-tag-box>
                    <dx-text-box class="dx-field-label" width="60" formControlName="modifier1" placeholder="M1">
                    </dx-text-box>
                    <dx-text-box class="dx-field-label" width="60" formControlName="modifier2" placeholder="M2">
                    </dx-text-box>
                    <dx-text-box class="dx-field-label" width="60" formControlName="modifier3" placeholder="M3">
                    </dx-text-box>
                    <dx-text-box class="dx-field-label" width="60" formControlName="modifier4" placeholder="M4">
                    </dx-text-box>
                    <dx-number-box class="dx-field-label" width="100" formControlName="charges" placeholder="Charges">
                    </dx-number-box>
                    <dx-number-box class="dx-field-label" width="100" formControlName="units" placeholder="Units">
                    </dx-number-box>
                </div>
            </div>        
        </div>
    </section>
</form>