<div>
    <form  (ngSubmit)="validatepayerID()" [formGroup]="patientForm" novalidate >
         <mat-tab-group>
          <mat-tab >
            <ng-template mat-tab-label>
                <mat-icon *ngIf="isPatientFormValid">thumb_up</mat-icon> 
                <mat-icon *ngIf="!isPatientFormValid">thumb_down</mat-icon> 
                Patient Details
            </ng-template>               
            <mat-card>
                <mat-card-title>
                        General Information
                </mat-card-title>
                <mat-card-content >
                    <section>
                        <mat-form-field class="snap-data-control">
                            <input matInput formControlName="firstName" type="text" placeholder="First Name"  required>
                            <mat-error *ngIf="formErrors.firstName">{{formErrors.firstName}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="snap-data-control">
                            <input matInput formControlName="middleInitial" type="text" placeholder="Middle Name">
                        </mat-form-field>
                        <mat-form-field class="snap-data-control">
                            <input matInput formControlName="lastName" type="text" placeholder="Last Name"  required>
                            <mat-error *ngIf="formErrors.lastName">{{formErrors.lastName}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="snap-data-control">
                            <input matInput formControlName="dob" type="date" useValueAsDate  placeholder="Date of Birth"  required>
                            <mat-error *ngIf="formErrors.dob">{{formErrors.dob}}</mat-error>
                        </mat-form-field>
                      
                    </section>
                    <section>
                        <mat-form-field class="snap-data-control" >
                            <input matInput formControlName="father" type="text" placeholder="Father">
                        </mat-form-field>
                        <mat-form-field class="snap-data-control" >
                            <input matInput formControlName="mother" type="text" placeholder="Mother">
                        </mat-form-field>
                        <mat-form-field class="snap-data-control" >
                            <input matInput formControlName="ssn" type="text" placeholder="SSN">
                             <mat-error *ngIf="formErrors.ssn">{{formErrors.ssn}}</mat-error>
                        </mat-form-field>
                        <!--<mat-slide-toggle color="primary" class="snap-data-control-15" formControlName="isInPatient">In-Patient?</mat-slide-toggle>-->
                        <mat-checkbox formControlName="isInPatient" class="snap-data-control"  color="primary">In-Patient?</mat-checkbox>
                        
                    </section>
                    <section>
                            <mat-form-field class="snap-data-control" >
                                <mat-select placeholder="Race" formControlName="race" >
                                    <mat-option *ngFor="let race of allRaces" [value]="race.raceName">{{race.raceName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="snap-data-control" >
                                <mat-select placeholder="Language" formControlName="language">
                                    <mat-option *ngFor="let lang of allLangugages" [value]="lang.languageName">{{lang.languageName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-slide-toggle color="primary" class="snap-data-control-lmg30" formControlName="hasPrimaryInsurance">
                                Has Primary Insurance?
                            </mat-slide-toggle>
                            <mat-slide-toggle color="primary" class="snap-data-control" formControlName="hasSecondaryInsurance">
                                Has Secondary Insurance?
                            </mat-slide-toggle>
                    </section>
                    <section>
                        <mat-form-field class="snap-data-control" >
                            <mat-select placeholder="Doctor" formControlName="doctorId" required class="snap-data-control">
                                <mat-option *ngFor="let provider of allProviders" [value]="provider.providerId" >{{provider.firstName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="snap-data-control">
                            <input matInput formControlName="chartId" type="text" value="TBD" readonly placeholder="Chart Id">
                                <mat-error *ngIf="formErrors.chartId">{{formErrors.chartId}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="snap-data-control">
                            <mat-select placeholder="Marital Status" formControlName="maritalStatus" required class="snap-data-control">
                                <mat-option *ngFor="let maritalStatus of allMaritalStatus" [value]="maritalStatus.maritalStatusName">{{maritalStatus.maritalStatusName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-checkbox formControlName="isHispanic" class="snap-data-control-15"  color="primary">Hispanic?</mat-checkbox>
                        
                        <!--<mat-slide-toggle color="primary" class="snap-data-control-15" formControlName="isHispanic">Hispanic?</mat-slide-toggle>-->
                    </section>
                     <section>
                        <label class="snap-data-control">Signature on File?</label>
                        <mat-checkbox formControlName="insSigOnFile" class="snap-data-control" color="primary" >Insured</mat-checkbox>
                        <mat-checkbox formControlName="patientSigOnFile" class="snap-data-control"  color="primary">Patient</mat-checkbox>
                        <mat-form-field class="snap-data-control">
                            <input matInput formControlName="patientSigDate" type="date"  placeholder="Signature Date" required>
                            <mat-error *ngIf="formErrors.patientSigDate">{{formErrors.patientSigDate}}</mat-error>
                        </mat-form-field>
                        <mat-radio-group class="snap-data-control" color="primary" formControlName="gender">
                            <mat-radio-button value="Male" color="primary">Male</mat-radio-button>
                            <mat-radio-button value="Female" color="primary">Female</mat-radio-button>
                        </mat-radio-group>
                    </section>
                    <section>
                        <label class="snap-data-control">Communication Preferences</label>
                        <mat-checkbox formControlName="commPrefEmail" class="snap-data-control"  color="primary">Email</mat-checkbox>
                        <mat-checkbox formControlName="commPrefPhone" class="snap-data-control"  color="primary">Phone</mat-checkbox>
                        <mat-checkbox formControlName="commPrefFax" class="snap-data-control"  color="primary"> Fax</mat-checkbox>
                        <mat-checkbox formControlName="commPrefPostalMail" class="snap-data-control"  color="primary">Mail</mat-checkbox>
                    </section>
                   
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card>
                <mat-card-title>
                        Contact Information
                </mat-card-title>
                <mat-card-content >
                   <snap-contact #primaryContactDetail
                                 [formGroup]="patientForm"
                                 formControlName="patientContact"
                                 ngDefaultControl
                                 
                                 (onContactValidityChanged)="updateContactValidity($event)" >
                   </snap-contact>
                </mat-card-content>
            </mat-card>
            <br>
            <mat-card>
                <mat-card-title>
                        Occupational Information
                </mat-card-title>
                <mat-card-content >
                    <section>
                        <mat-form-field class="snap-data-control">
                            <mat-select placeholder="Employment Status" formControlName="employmentStatus" class="snap-data-control">
                                <mat-option *ngFor="let empStatus of allEmploymentStatus" [value]="empStatus.statusName">{{empStatus.statusName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="snap-data-control">
                            <input matInput formControlName="natureOfOccupation" type="text" placeholder="Nature Of Occupation">
                        </mat-form-field>
                        <mat-checkbox formControlName="lifting" class="snap-data-control"  color="primary">Lifting</mat-checkbox>
                        <mat-checkbox formControlName="exposureToFumesOrChemicals" class="snap-data-control"  color="primary">Exposure to fumes or chemicals</mat-checkbox>
                       
                    </section>
                    <section>
                      
                        <mat-checkbox formControlName="prolongedStanding" class="snap-data-control"  color="primary">Prolonged Standing</mat-checkbox>
                        <mat-checkbox formControlName="prolongedWalking" class="snap-data-control"  color="primary">Prolonged Walking</mat-checkbox>
                        <mat-checkbox formControlName="prolongedSitting" class="snap-data-control"  color="primary">Prolonged Sitting</mat-checkbox>

                    </section>
                    
                </mat-card-content>
            </mat-card>
           <br>
           
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon *ngIf="isInsuranceFormsValid">thumb_up</mat-icon> 
                <mat-icon *ngIf="!isInsuranceFormsValid">thumb_down</mat-icon> 
                Insurance Details
            </ng-template>       
            <mat-card >
            <!-- *ngIf="hasPrimaryInsurance"> -->
                <mat-card-title>
                        Primary Insurance
                </mat-card-title>
                <mat-card-content >
                  <snap-new-insurance 
                        (onAfterInsuranceFormReady) = "this.onPrimaryInsuranceFormReady($event)"
                        (onInsuranceFormValidityChanged) = "this.primaryInsuranceFormValiditiyChanged($event)"
                        [mainClaimFormGroup]="this.patientForm"
                        [isSecondaryInsurance] = "false"
                        [insuranceFormGroup]="primaryInsuranceForm">
                  </snap-new-insurance>
                </mat-card-content>
            </mat-card>
            <br>   
            <mat-card *ngIf="hasSecondaryInsurance">
                 
                <mat-card-title>
                        Secondary Insurance 
                </mat-card-title>
                <mat-card-content >
                    <snap-new-insurance 
                            (onAfterInsuranceFormReady) = "this.onSecondaryInsuranceFormReady($event)"
                            [mainClaimFormGroup]="this.patientForm"
                            [insuranceFormGroup]="secondaryInsuranceForm"
                            [isSecondaryInsurance] = "true"
                            (onInsuranceFormValidityChanged) = "this.secondaryInsuranceFormValiditiyChanged($event)">
                    </snap-new-insurance>
                </mat-card-content>
            </mat-card>
            
          </mat-tab>
         </mat-tab-group>
         <section class="d-flex flex-row snap-section-right">
             <label class="fill-remaining-space"></label>
            <button type="submit" mat-raised-button color="primary" [disabled]="!allFormsValid" >Save</button>
            <a mat-button routerLink="/dashboard">Cancel</a>
        </section>
    </form>
</div>