<!--<p-dataTable [value]="searchResults" [globalFilter]="gb" 
     reorderableColumns="true" resizableColumns="true" columnResizeMode="expand" [sortableRowGroup]="false"
     [rows]="20" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]"
     scrollable="true"  >
    <p-column styleClass="col-button">
        <ng-template let-searchResult="rowData" pTemplate="body">
             <a mat-mini-fab [routerLink]="['/claim',{patientId :searchResult.patientId}]" color="primary">
                <mat-icon mdTooltip="Generate new claim" class="icon-20">monetization_on</mat-icon>
            </a>
            <a mat-mini-fab [routerLink]="['/patient',{patientId :searchResult.patientId}]">
                <mat-icon mdTooltip="Patient Details" class="icon-20">description</mat-icon>
            </a>
            <a mat-mini-fab [routerLink]="['/benefit',{patientId :searchResult.patientId}]">
                <mat-icon mdTooltip="Eligibility &amp; Benefit" class="icon-20" >details</mat-icon>
            </a>
            <a mat-mini-fab [routerLink]="['/encounter',{patientId :searchResult.patientId}]">
                <mat-icon mdTooltip="Encounter" class="icon-20" >show_chart</mat-icon>
            </a>
        </ng-template>
    </p-column>
    
    <p-column field="firstName" header="First" [filter]="true" [sortable]="true" filterPlaceholder="First"></p-column>
    <p-column field="lastName" header="Last" [filter]="true" [sortable]="true" filterPlaceholder="Last"></p-column>
    <p-column field="dob" header="DOB" [sortable]="true" filterPlaceholder="DOB">
        <ng-template pTemplate="body" let-searchResult="rowData">
            {{searchResult.dob | date:'shortDate'}}
        </ng-template>
    </p-column>
    <p-column field="carrier" header="Insurance" [filter]="true"  [sortable]="true" filterPlaceholder="Insurance"></p-column>
    <p-column field="chartId" header="Chart ID" [filter]="true"  [sortable]="true" filterPlaceholder="Chart Id"></p-column>
    <p-column field="city" header="City" [filter]="true"  [sortable]="true" filterPlaceholder="City"></p-column>
    <p-column field="state" header="State" [filter]="true"  [sortable]="true" filterPlaceholder="State"></p-column>
    
</p-dataTable>
-->
<dx-data-grid id="gridContainer" 
                [dataSource]="searchResults"
                [showColumnLines]="false"
                [showRowLines]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="false"
                [allowColumnReordering]="true"
                [hoverStateEnabled]="true"
                [allowColumnResizing]="true">
                <dxo-paging [pageSize]="9"> </dxo-paging>
                <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
                <dxo-export [enabled]="true" fileName="PatientSearchResults" [allowExportSelectedData]="true"> </dxo-export>

                <dxi-column dataField="patientId" caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="generateNewClaim"></dxi-column>
                <div *dxTemplate="let data of 'generateNewClaim'">  
                    <a mat-mini-fab (click)="claimEligibility(data.value)"color="primary">
                        <mat-icon mdTooltip="Generate new claim" >monetization_on</mat-icon>
                    </a>
                </div>
                <dxi-column dataField="patientId" caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="patientDetails"></dxi-column>
                <div *dxTemplate="let data of 'patientDetails'">  
                        <a mat-mini-fab [routerLink]="['/patient',{patientId :data.value}]">
                            <mat-icon mdTooltip="Patient Details" >description</mat-icon>
                        </a>
                </div>
                <dxi-column dataField="patientId" caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="eligibility"></dxi-column>
                <div *dxTemplate="let data of 'eligibility'">  
                        <a mat-mini-fab [routerLink]="['/benefit',{patientId :data.value}]">
                            <mat-icon mdTooltip="Eligibility &amp; Benefit"  >details</mat-icon>
                        </a>
                </div>
                <dxi-column dataField="patientId" caption="" [width]="50" [allowFiltering]="false" [allowSorting]="false" cellTemplate="encounter"></dxi-column>
                <div *dxTemplate="let data of 'encounter'">  
                        <a mat-mini-fab [routerLink]="['/encounter',{patientId :data.value}]">
                            <mat-icon mdTooltip="Encounter"  >show_chart</mat-icon>
                        </a>
                </div>

                <dxi-column dataField="firstName"  caption="First Name" [width]="150"></dxi-column>
                <dxi-column dataField="lastName"  caption="Last Name"  [width]="150" ></dxi-column>
                <dxi-column dataField="dob" dataType="date" caption="DOB" format="MM/dd/yyyy"  [width]="100" ></dxi-column>
                <dxi-column dataField="carrier"  caption="Insurance"  [width]="300" ></dxi-column>
                <dxi-column dataField="policyNo" caption="Policy No" [width]="350"></dxi-column>
                <dxi-column dataField="chartId"  caption="Chart ID"  [width]="150" ></dxi-column>
                <dxi-column dataField="city"  caption="City"  [width]="150" ></dxi-column>
                <dxi-column dataField="state"  caption="State"  [width]="150" ></dxi-column>
</dx-data-grid>

<mat-progress-spinner mode="indeterminate" *ngIf="isLoading"></mat-progress-spinner>