  
    <section>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Subjective
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="mat-padding" class="col-md-12 form-group"> 
                <section>
                 <div id="subjective-form-container">
                     <form [formGroup]="subjectiveForm">
                     <dx-form id="subjective-form"
                         [colCount]="4"
                         >
                          <dxi-item [label]="{text: 'Chief Complaint'}" [colSpan]="2" >

                                <dx-drop-down-box
                                formControlName="chiefComplaint"
                                [(value)]="gridBoxValue"
                                valueExpr="id"
                                displayExpr="name"
                                placeholder="Select chief Complaint..."
                                [showClearButton]="true"
                                [(dataSource)]="chiefComplaintDataSource"
                        >
            
                            <div *dxTemplate="let contentData of 'content'">
                                <dx-data-grid
                                        [(dataSource)]="chiefComplaintDataSource"
                                        [columns]="['name', 'description']"
                                        [selection]="{ mode: 'multiple' }"
                                        [hoverStateEnabled]="true"
                                        [paging]="{ enabled: true, pageSize: 10 }"
                                        [filterRow]="{ visible: true }"
                                        [scrolling]="{ mode: 'infinite' }"
                                        [height]="345"
                                        [(selectedRowKeys)]="gridBoxValue"
                                >
                                </dx-data-grid>
                            </div>
                        </dx-drop-down-box>
                         </dxi-item>
                         <dxi-item [label]="{text: 'Duration'}">
                                 <dx-text-box
                                 formControlName="duration"
                                 placeholder="Enter Duration..."
                                 [maxLength]="40"
                             ></dx-text-box>
                         </dxi-item>
                         <dxi-item >
                                <dx-select-box
                                formControlName="durationPeriod"
                                [items]="durations"
                                [value]="durations[0]"
                            ></dx-select-box>
                         </dxi-item>
                         <dxi-item [colSpan]="4"  [label]="{text: 'HPI Name'}">
                                 <dx-drop-down-box 
                                 formControlName="hPIName"
                                 [(value)]="hPIValue"
                                 valueExpr="id"
                                 displayExpr="hpiName"
                                 placeholder="Select HPI..."
                                 [showClearButton]="true"
                                 [(dataSource)]="hpiDataSource"
                         >
             
                             <div *dxTemplate="let contentData of 'content'">
                                 <dx-data-grid
                                         [(dataSource)]="hpiDataSource"
                                         [columns]="['hpiName']"
                                         [selection]="{ mode: 'multiple' }"
                                         [hoverStateEnabled]="true"
                                         [paging]="{ enabled: true, pageSize: 10 }"
                                         [filterRow]="{ visible: true }"
                                         [scrolling]="{ mode: 'infinite' }"
                                         [height]="345"
                                         [(selectedRowKeys)]="hPIValue">
                                 </dx-data-grid>
                             </div>
                         </dx-drop-down-box>
                         </dxi-item>        
                     </dx-form>
                    </form>
                 </div>
                 <div class="clear-fix"></div>
             </section>
         </div>
<section>
    <div class="col-md-12 form-group">
            <div class="caption">ROS</div>
    </div>
</section>

         <section>  
                <div class="col-md-12 form-group">
                        <form [formGroup]="rosForm">
                        <dx-form id="ros-form"
                            [colCount]="6"
                            [formData]="rosdata" labelLocation="top">
                            <dxi-item  [label]="{text: 'Body System'}" >
                            <dx-select-box 
                            formControlName="bodySystem"
                            (onValueChanged)="getOnBodySystemvaluechanged($event)"
                            [(dataSource)]="bodySystemData"
                            valueExpr="id"
                            displayValue="bodySystemName"
                            displayExpr="bodySystemName"
                            [searchEnabled]="true">
                        </dx-select-box>  
                            </dxi-item>
                            <dxi-item  [label]="{text: 'Finding'}" >
                                    <dx-select-box 
                                    formControlName="finding"
                                    [(dataSource)]="filerFinding"
                                    valueExpr="id"
                                    displayValue="finding"
                                    displayExpr="finding"
                                    [searchEnabled]="true">
                                </dx-select-box>
                            </dxi-item>
                            <dxi-item  [label]="{text: 'Indicator'}" >
                                    <dx-select-box
                                    formControlName="indicator"
                                    [items]="allIndicators"
                                    [(value)]="allIndicators[0]"
                                ></dx-select-box>
                                </dxi-item>
                                <dxi-item  [label]="{text: 'Comments'}" >
                                        <dx-text-box formControlName="comments"></dx-text-box>
                                    </dxi-item>
                           
                                    <dxi-item [label]="{text: ' '}">
                                            <dx-button text="Add" (onClick)="getRosvalue()"></dx-button>
                                    </dxi-item>
                            </dx-form>
                            </form>
                            </div>
        
        </section>

    <div class="mat-padding">
        <dx-data-grid id="gridContainer" 
        [(dataSource)]="rosdata"
        [showColumnLines]="false"
        [showRowLines]="true"
        [showBorders]="true"
        [rowAlternationEnabled]="false"
        [allowColumnReordering]="true"
        [hoverStateEnabled]="true"
        [allowColumnResizing]="true">
        <dxo-editing 
            mode="cell"
            [allowUpdating]="true"
            [allowDeleting]="true"
            >
        </dxo-editing>
        <dxo-paging [pageSize]="9"> </dxo-paging>
        <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
        <dxi-column dataField="bodySystem" caption="BodySystem"></dxi-column>
        <dxi-column dataField="finding"  caption="Finding" ></dxi-column>
        <dxi-column dataField="indicator"  caption="Indicator" ></dxi-column>
        <dxi-column dataField="comments"  caption="Comments"  ></dxi-column>
        

</dx-data-grid>
</div>

</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
        Objective
    </mat-panel-title>
</mat-expansion-panel-header>
<section>
        <div class="col-md-12 form-group">
                <div class="caption">Vital Signs</div>
        </div>
    </section>
    

    <div id="Objective-form-container" class="col-md-12 form-group mat-padding">
        <form [formGroup]="objectiveForm">
        <dx-form id="Objective-form"
            [colCount]="8"
            labelLocation="top">
            <dxi-item  [label]="{text: 'Height (in)'}">
                    <dx-text-box formControlName="height" ></dx-text-box>
            </dxi-item>
            <dxi-item [label]="{text: 'Weight (lbs)'}">
                    <dx-text-box formControlName="weightLbs" ></dx-text-box>
            </dxi-item>  
            <dxi-item   [label]="{text: 'Heart Rate'}" >
                    <dx-text-box formControlName="heartRate" ></dx-text-box>
            </dxi-item>
            <dxi-item  [label]="{text: 'Head (in)'}">
                    <dx-text-box formControlName="headCircum" ></dx-text-box>
            </dxi-item>  
            <dxi-item   [label]="{text: 'Temp(f)'}">
                    <dx-text-box formControlName="temperature"></dx-text-box>
            </dxi-item>
            <dxi-item  [label]="{text: 'Systolic(L)'}">
                    <dx-text-box formControlName="lsystolic" ></dx-text-box>
            </dxi-item> 
            <dxi-item   [label]="{text: 'Systolic (R)'}" >
                    <dx-text-box formControlName="rsystolic" ></dx-text-box>
            </dxi-item>
            <dxi-item  [label]="{text: 'Resp Rate'}">
                    <dx-text-box formControlName="respRate" ></dx-text-box>
            </dxi-item>  
            <dxi-item   [label]="{text: 'Waist'}">
                    <dx-text-box formControlName="waist" ></dx-text-box>
            </dxi-item>
            <dxi-item  [label]="{text: 'Hip'}" >
                    <dx-text-box formControlName="hip" ></dx-text-box>
            </dxi-item>  
            <dxi-item   [label]="{text: 'Waist / Hip'}" >
                <dx-text-box formControlName="waistHipRatio" ></dx-text-box></dxi-item>
            <dxi-item  [label]="{text: 'BMI'}" >
                    <dx-text-box formControlName="bmi" ></dx-text-box>
            </dxi-item>  
            <dxi-item  [label]="{text: 'LMP'}">
                    <dx-date-box
                    formControlName="lmp" 
                    type="date">
                </dx-date-box>
            </dxi-item>  
            <dxi-item  [label]="{text: 'Diastolic (L)'}" >
                    <dx-text-box formControlName="ldiastolic" ></dx-text-box>
            </dxi-item>  
            <dxi-item  [label]="{text: 'Diastolic (R)'}" >
                    <dx-text-box formControlName="rdiastolic" ></dx-text-box>
            </dxi-item>  
            <dxi-item [label]="{text: ' '}">
                    <dx-button text="History" (onClick)="showVitalHistory()"></dx-button>
            </dxi-item>
        </dx-form>
        </form>
                 
        
    </div>
    <section>
            <p-dialog header="Vital History" [(visible)]="historyPopupVisible" [width]="1200" [closable]="true">

            </p-dialog>
    </section>
   
    <section>
            <div class="col-md-12 form-group">
                    <div class="caption">Physical Exam</div>
            </div>
        </section>
        
    <section>  
            <div class="col-md-12 form-group">
                    <form [formGroup]="physicalExamForm">
                    <dx-form id="physicalExam-form"
                        [colCount]="6"
                         labelLocation="top">
                        <dxi-item  [label]="{text: 'Body System'}" >
                            <dx-select-box 
                                formControlName="physicalBodySystem"
                                [(dataSource)]="bodySystemData"
                                valueExpr="id"
                                displayValue="bodySystemName"
                                displayExpr="bodySystemName"
                                (onValueChanged)="onbodySystemValueChanged($event)"
                                [searchEnabled]="true">
                            </dx-select-box>
                    </dxi-item>
                        <dxi-item [label]="{text: 'Sub System'}">
                                <dx-select-box 
                                formControlName="subSystem"
                                [(dataSource)]="subSystemData"
                                valueExpr="id"
                                displayValue="bodySubSystemName"
                                displayExpr="bodySubSystemName"
                                (onValueChanged)="onsubSystemValueChange($event)"
                                [searchEnabled]="true">
                            </dx-select-box>
                        </dxi-item>
                        <dxi-item  [label]="{text: 'Finding'}" >
                                <dx-select-box 
                                formControlName="finding"
                                [(dataSource)]="bodySystemDetails"
                                valueExpr="id"
                                displayValue="finding"
                                displayExpr="finding"
                                [searchEnabled]="true">
                            </dx-select-box>
                        </dxi-item>
                       
                            <dxi-item  [label]="{text: 'Comments'}" >
                                    <dx-text-box formControlName="comments" ></dx-text-box>
                                </dxi-item>
                       
                                <dxi-item [label]="{text: ' '}">
                                        <dx-button text="Add" (onClick)="getPhysicalExamValue()"></dx-button>
                                </dxi-item>
                        </dx-form>
                        </form>
                        </div>
    
    </section>

<div id="data-grid-objective">
    <dx-data-grid 
        id="PhysicalgridContainer"
        [(dataSource)]="physicalExamData"
        [showColumnLines]="false"
        [showRowLines]="true"
        [showBorders]="true"
        [rowAlternationEnabled]="false"
        [allowColumnReordering]="true"
        [hoverStateEnabled]="true"
        [allowColumnResizing]="true">
        <dxo-editing 
            mode="cell"
            [allowUpdating]="true"
            [allowDeleting]="true"
            >
        </dxo-editing>     
        <dxo-paging [pageSize]="9"> </dxo-paging>
        <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
        <dxi-column dataField="bodySystemName" caption="Body System"></dxi-column>
        <dxi-column dataField="bodySubSystemName" caption="Sub System"></dxi-column>
        <dxi-column dataField="finding" caption="Finding"></dxi-column>
        <dxi-column dataField="comments" caption="Comments"></dxi-column>
    </dx-data-grid>
</div>    
</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
       Assesment
    </mat-panel-title>
</mat-expansion-panel-header>

<section>  
        <div id="Assesment-form-container" class="col-md-12 form-group">
                <form [formGroup]="assesmentForm">
                <dx-form id="Assesment-form"
                    [colCount]="6"
                    labelLocation="top">
                    <dxi-item  [label]="{text: 'CPT Code'}" >
                        <dx-autocomplete
                        formControlName="cptCode"
                        valueExpr="cptValue"
                        displayExpr="cptValue"
                        placeholder="Type CPT Code..."
                        [(dataSource)]="filteredCPTCodes"
                        (onValueChanged)="oncptCodeValueChanged($event)">
                    </dx-autocomplete>
                    </dxi-item>
                    <dxi-item [label]="{text: 'Rate'}">
                            <dx-text-box formControlName="rate" ></dx-text-box>
                    </dxi-item>
                    <dxi-item [label]="{text: 'CPT Type'}">
                            <dx-text-box formControlName="cptType"></dx-text-box>
                    </dxi-item>
                    <dxi-item [label]="{text: 'OnsetDate'}">
                            <dx-date-box
                            formControlName="onsetDate"
                            type="date">
                        </dx-date-box>
                    </dxi-item>
                        <dxi-item  [label]="{text: 'ICD Code'}" >
                                <dx-autocomplete
                                formControlName="icdCode"
                                valueExpr="code"
                                displayExpr="code"
                                placeholder="Type ICD Code..."
                                [(dataSource)]="filteredICDCodes"
                                >
                            </dx-autocomplete>
                               
                            </dxi-item>
                            <dxi-item [label]="{text: ' '}">
                                    <dx-button text="Add" (onClick)="getAssesmentValue()"></dx-button>
                            </dxi-item>
                    </dx-form>
                    </form>
                    </div>

</section>

<div id="data-grid-Assesment">
    <dx-data-grid 
        id="AssesmentgridContainer"
        [(dataSource)]="diagnosisdata"
        [showColumnLines]="false"
        [showRowLines]="true"
        [showBorders]="true"
        [rowAlternationEnabled]="false"
        [allowColumnReordering]="true"
        [hoverStateEnabled]="true"
        [allowColumnResizing]="true">        

        <dxo-editing 
        mode="cell"
        [allowUpdating]="true"
        [allowDeleting]="true"
        >
    </dxo-editing>
        <dxo-paging [pageSize]="9"> </dxo-paging>
        <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
        <dxi-column dataField="cptCode" caption="CPT Code"></dxi-column>
        <dxi-column dataField="cptDescription" caption="CPT Description"></dxi-column>
        <dxi-column dataField="rate" caption="Rate" dataType="number"></dxi-column>
        <dxi-column dataField="cptType" caption="CPT Type"></dxi-column>
        <dxi-column dataField="onSetDate" caption="OnSetDate" dataType="date" format="MM/dd/yyyy"></dxi-column>
        <dxi-column dataField="icdCode" caption="ICD Description"></dxi-column>
        <dxi-column dataField="icdDescription" caption="ICD Description"></dxi-column>
    </dx-data-grid>
</div>    



</mat-expansion-panel>


<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
       Plan
    </mat-panel-title>
</mat-expansion-panel-header>

<section>  
        <div id="Plan-form-container" class="col-md-12 form-group">
                <form [formGroup]="planForm">
                <dx-form id="plan-form"
                    [colCount]="6"
                     labelLocation="top">
                    <dxi-item  [label]="{text: 'Drug Name'}" >
                            <dx-autocomplete
                            formControlName="drugId"
                            valueExpr="id"
                            displayExpr="drugName"
                            placeholder="Type Drug Name..."
                            [(dataSource)]="allDrug"
                            (onValueChanged)="onDrugValueChanged($event)">
                        </dx-autocomplete>
                           
                    </dxi-item>

                    <dxi-item  [label]="{text: 'Manufacturer Name'}" >
                            <dx-select-box formControlName="manufacturerId"
                            [dataSource]="manufacturer"
                            valueExpr="id"
                            displayExpr="manufacturerName"
                            (onValueChanged)="onManufacturerValueChanged($event)"
                            [searchEnabled]="true">
                        </dx-select-box>
                    </dxi-item>
                     <dxi-item  [label]="{text: 'Brand Name'}" >
                            <dx-select-box 
                            formControlName="brandName"
                            [dataSource]="brand"
                            valueExpr="brandName"
                            displayExpr="brandName"
                            (onValueChanged)="onBrandValueChanged($event)"
                            [searchEnabled]="true">
                        </dx-select-box>
                        </dxi-item>
                        <dxi-item  [label]="{text: 'Strength'}" >
                                <dx-select-box 
                                formControlName="strength"
                                [dataSource]="strength"
                                valueExpr="strength"
                                displayExpr="strength"
                                (onValueChanged)="onStrengthValueChanged($event)"
                                [searchEnabled]="true">
                            </dx-select-box>
                            </dxi-item>
                            <dxi-item  [label]="{text: 'Availibility'}" >
                                    <dx-select-box 
                                    formControlName="availibility"
                                    [dataSource]="drugAvailibility"
                                    valueExpr="availableAs"
                                    displayExpr="availableAs"
                                    [searchEnabled]="true">
                                </dx-select-box>
                                </dxi-item>
                               <!-- <dxi-item [label]="{text: 'Quantity'}">
                                        <dx-text-box formControlName="quantity" [(value)]="Quantity"></dx-text-box>
                                </dxi-item>
                                <dxi-item [label]="{text: 'Frequency'}">
                                        <dx-text-box formControlName="frequency" [(value)]="Frequency"></dx-text-box>
                                </dxi-item>
                                <dxi-item [label]="{text: 'PlanNumber'}">
                                        <dx-text-box formControlName="planNumber" [(value)]="PlanNumber"></dx-text-box>
                                </dxi-item>
                                <dxi-item [label]="{text: 'Refill'}">
                                        <dx-text-box formControlName="refill" [(value)]="Refill"></dx-text-box>
                                </dxi-item> -->
                                <dxi-item [label]="{text: ' '}">
                                        <dx-button text="Add" (onClick)="getplanvalue()"></dx-button>
                                </dxi-item>

                    </dx-form>
                    </form>
                    </div>

</section>
<section>
<div id="data-grid-plan">
    <dx-data-grid 
        id="PlangridContainer"
        [(dataSource)]="planData"
        [showColumnLines]="false"
        [showRowLines]="true"
        [showBorders]="true"
        [rowAlternationEnabled]="true"
        [allowColumnReordering]="true"
        [hoverStateEnabled]="true"
        [allowColumnResizing]="true"
        >        

        <dxo-editing 
            mode="cell"
            [allowUpdating]="true"
            [allowDeleting]="true"
          >
        </dxo-editing>
        <dxo-paging [pageSize]="9"> </dxo-paging>
        <dxo-filter-row [visible]="true" [applyFilter]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel  [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
        <dxi-column dataField="drugName" caption="Drug Name" ></dxi-column>
        <dxi-column dataField="manufacturerName" caption="Manufacturer Name" ></dxi-column>
        <dxi-column dataField="brandName" caption="Brand Name" ></dxi-column>
        <dxi-column dataField="strength" caption="Strength" ></dxi-column>
        <dxi-column dataField="availibility" caption="Availibility" ></dxi-column>
        <dxi-column dataField="quantity" caption="quantity" dataType="number"></dxi-column>
        <dxi-column dataField="frequency" caption="Frequency" ></dxi-column>
        <dxi-column dataField="planNumber" caption="Plan Number" dataType="number"></dxi-column>
        <dxi-column dataField="refill" caption="Refill" dataType="number"></dxi-column>
    </dx-data-grid>
</div>    
</section>


</mat-expansion-panel>

</mat-accordion>
</section>
<section>  
        <mat-expansion-panel [expanded]="true"
        >
<mat-expansion-panel-header>
<mat-panel-title>
Notes
</mat-panel-title>
</mat-expansion-panel-header>

        <div class="col-md-12 form-group">
                <form [formGroup]="noteForm">
                <dx-form id="note-form"
                    [colCount]="6"
                    labelLocation="top">
                <dxi-item [colSpan]="6">
                    <dx-text-area [height]="90" formControlName="encounterNotes" ></dx-text-area>
                </dxi-item>
                    </dx-form>
                    </form>
                    </div>
                </mat-expansion-panel>

                <div  class="col-md-8 col-md-offset-2 form-group">
                     
                    <dx-button text="Save" class="mat-raised-button mat-primary" (onClick)="getSaveEncounter()"></dx-button>
                    <dx-button text="SaveAs Template" class="mat-raised-button mat-primary"  (onClick)="gettemplatename()"></dx-button>
                    <dx-button text="Submit" class="mat-raised-button mat-primary"  (onClick)="getsubmitencounter()"></dx-button>
                    <dx-button text="Load Template" class="mat-raised-button mat-primary"  (onClick)="gettemplates()"></dx-button>
                         <dx-button text="Generate Report" class="mat-raised-button mat-primary" (onClick)="loadEncounterReport()" [(disabled)]="enableGenerateReport"></dx-button>
                            </div>
        </section>
        <section>
                <p-dialog header="Templates" [(visible)]="selectPopupVisible" [width]="600" [closable]="true">
                        <form [formGroup]="encounterTemplateForm">
                                <dx-form id="template-form"
                                [colCount]="3"
                                 labelLocation="top">
                                <dxi-item  [label]="{text: 'Template Name'}" >
                                <dx-select-box 
                                formControlName="template" [(visible)]="selectBoxTemplateVisible"
                                [(dataSource)]="ecounterTemplates"
                                valueExpr="id"
                                displayValue="templateName"
                                displayExpr="templateName"
                                (onValueChanged)="ontemplateNameChanged($event)"
                                [searchEnabled]="true">
                                </dx-select-box>
                                <dx-text-box formControlName="templateName" [(visible)]="textBoxTemplateVisible"></dx-text-box>
                                </dxi-item>
                                <dxi-item  [label]="{text: 'Template Type'}" >
                                        <dx-text-box formControlName="templateType" readonly="true" ></dx-text-box>
                                </dxi-item>
                                    <dxi-item  [label]="{text: ' '}" >
                                        <dx-button text="Save Template" [(visible)]="textBoxTemplateVisible" class="mat-raised-button mat-primary" (onClick)="getsaveastemplateencounter()"></dx-button>
                                        <dx-button text="Load Template" [(visible)]="selectBoxTemplateVisible" class="mat-raised-button mat-primary" (onClick)="SubmitLoadEncounterTemplate()"></dx-button>
                                    </dxi-item>
            </dx-form>
                        </form>
                </p-dialog>
        </section>
