<mat-card class="mat-card-mg12">
    <mat-card-content>
        <section class="snap-section">
            <mat-form-field class="snap-data-control-15">
                <input matInput  type="text" 
                       placeholder="Check Number" name="check_number" readonly [ngModel]="eraDetail.check_number">
            </mat-form-field>
            <mat-form-field class="snap-data-control-15">
                <input matInput  type="text" 
                       placeholder="ERA Id" name="eraid" readonly [ngModel]="eraDetail.eraid">
            </mat-form-field>
            <mat-form-field class="snap-data-control-15">
                <input matInput  type="text" 
                       placeholder="Paid Amount" name="paid_amount" readonly [ngModel]="eraDetail.paid_amount">
            </mat-form-field>
            <mat-form-field class="snap-data-control-15">
                <input matInput  type="text" 
                       placeholder="Payer" name="payer_name" readonly [ngModel]="eraDetail.payer_name">
            </mat-form-field>
        </section>
        <mat-card class="mat-card-mg12" *ngFor="let claimDetail of eraDetail.claimDetails">
            <mat-card-content>
                <section class="snap-section">
                    <mat-form-field class="snap-data-control-15">
                        <input matInput  type="text" 
                            placeholder="Date" name="from_dos" readonly [ngModel]="claimDetail.from_dos  | date:'yyyy-MM-dd'">
                    </mat-form-field>
                     <mat-form-field class="snap-data-control-15">
                        <input matInput  type="text" 
                            placeholder="Insurance Number" name="ins_number" readonly [ngModel]="claimDetail.ins_number">
                    </mat-form-field>
                     <mat-form-field class="snap-data-control-15">
                        <input matInput  type="text" 
                            placeholder="Insured First Name" name="ins_name_f" readonly [ngModel]="claimDetail.ins_name_f">
                    </mat-form-field>
                    <mat-form-field class="snap-data-control-15">
                        <input matInput  type="text" 
                            placeholder="Insured Last Name" name="ins_name_l" readonly [ngModel]="claimDetail.ins_name_l">
                    </mat-form-field>
                    <mat-form-field class="snap-data-control-15">
                        <input matInput  type="text" 
                            placeholder="Patient First Name" name="pat_name_f" readonly [ngModel]="claimDetail.pat_name_f">
                    </mat-form-field>
                    <mat-form-field class="snap-data-control-15">
                        <input matInput  type="text" 
                            placeholder="Patient Last Name" name="pat_name_l" readonly [ngModel]="claimDetail.pat_name_l">
                    </mat-form-field>
                     <mat-form-field class="snap-data-control-15">
                        <input matInput  type="text" 
                            placeholder="Total Charge" name="total_charge" readonly [ngModel]="claimDetail.total_charge">
                    </mat-form-field>
                     <mat-form-field class="snap-data-control-15">
                        <input matInput  type="text" 
                            placeholder="Total Paid" name="total_paid" readonly [ngModel]="claimDetail.total_paid">
                    </mat-form-field>
                </section>
                <mat-card class="mat-card-mg12" *ngFor="let claimChargeDetail of claimDetail.claimChargeDetails">
                    <mat-card-content>
                        <section class="snap-section">
                            <mat-form-field class="snap-data-control-15">
                                <input matInput  type="text" 
                                    placeholder="From Date" name="from_dos" readonly [ngModel]="claimChargeDetail.from_dos   | date:'yyyy-MM-dd'">
                            </mat-form-field>
                            <mat-form-field class="snap-data-control-15">
                                <input matInput  type="text" 
                                    placeholder="Procedure" name="proc_code" readonly [ngModel]="claimChargeDetail.proc_code">
                            </mat-form-field>
                            <mat-form-field class="snap-data-control-15">
                                <input matInput  type="text" 
                                    placeholder="Charge" name="charge" readonly [ngModel]="claimChargeDetail.charge">
                            </mat-form-field>
                            <mat-form-field class="snap-data-control-15">
                                <input matInput  type="text" 
                                    placeholder="Paid" name="paid" readonly [ngModel]="claimChargeDetail.paid">
                            </mat-form-field>
                        </section>
                        <mat-card class="mat-card-mg12" *ngFor="let claimChargeAdjustments of claimChargeDetail.adjustments">
                            <mat-card-content>
                                <section class="snap-section">
                                    <mat-form-field class="snap-data-control-15">
                                        <input matInput  type="text" 
                                            placeholder="Code" name="code" readonly 
                                            [ngModel]="claimChargeAdjustments.code">
                                    </mat-form-field>
                                    <mat-form-field class="snap-data-control-15">
                                        <input matInput  type="text" 
                                            placeholder="Group" name="adj_group" readonly 
                                            [ngModel]="claimChargeAdjustments.adj_group">
                                    </mat-form-field>
                                     <mat-form-field class="snap-data-control-15">
                                        <input matInput  type="text" 
                                            placeholder="Amount" name="amount" readonly 
                                            [ngModel]="claimChargeAdjustments.amount">
                                    </mat-form-field>
                                </section>
                            </mat-card-content>
                        </mat-card>
                        
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>