<ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-1">
  <ngb-panel title="Masters" *ngIf="currentUser?.userMenu.accMasters">
    <ng-template ngbPanelContent>
      <mat-list>
        <a mat-list-item routerLink="/provider" *ngIf="currentUser?.userMenu.provider_doctor" >Provider / Doctor</a>
        <a mat-list-item routerLink="/cptRates" *ngIf="currentUser?.userMenu.cpt_rate">CPT Rates </a>
      </mat-list>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Patient" *ngIf="currentUser?.userMenu.accPatient">
    <ng-template ngbPanelContent>
      <mat-list>
        <a mat-list-item routerLink="/patient" *ngIf="currentUser?.userMenu.patient_new">New</a>
        <a mat-list-item routerLink="/landing" *ngIf="currentUser?.userMenu.patient_search">Search</a>
      </mat-list>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Maintenance" *ngIf="currentUser?.userMenu.accMaintanence">
      <ng-template ngbPanelContent>
        <mat-list>
          <!-- <a mat-list-item routerLink="/snapuser" *ngIf="currentUser?.userMenu.maintanence_new_user">New User</a> -->
          <a mat-list-item routerLink="/snapalluser" *ngIf="currentUser?.userMenu.maintanence_new_user">All Snap Users</a>
          <a mat-list-item routerLink="/usermenu" *ngIf="currentUser?.userMenu.maintanence_user_menu">Role Menu Grouping</a>
        </mat-list>
      </ng-template>
    </ngb-panel>
  <ngb-panel title="Claims" *ngIf="currentUser?.userMenu.accClaims">
    <ng-template ngbPanelContent>
     <mat-list>
        <a mat-list-item routerLink="/claimlanding" *ngIf="currentUser?.userMenu.claims_search">Search</a>
        <a mat-list-item routerLink="/claimreport" *ngIf="currentUser?.userMenu.claims_analyze">Analyze</a>
        <!-- 
        <a mat-list-item routerLink="/testExpansion">Test Expansion</a>
        -->
        <a mat-list-item routerLink="/fileupload">Upload OPIE File</a>
        <a mat-list-item routerLink="/PaymentSearch" *ngIf="currentUser?.userMenu.claims_search">By Status</a>
      </mat-list>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Appointments" *ngIf="currentUser?.userMenu.accAppointments">
    <ng-template ngbPanelContent>
       <mat-list>
        <a mat-list-item routerLink="/appt" *ngIf="currentUser?.userMenu.appointment_search">Search</a>
        <a mat-list-item routerLink="/apptreport" *ngIf="currentUser?.userMenu.appointment_report">Report</a>
       </mat-list>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Documents" *ngIf="currentUser?.userMenu.accDocuments">
    <ng-template ngbPanelContent>
       <mat-list>
         <!--
        <a mat-list-item routerLink="/docupload">Upload</a>
        <a mat-list-item routerLink="/docview">View</a>
         -->
         <a mat-list-item routerLink="/receipt" *ngIf="currentUser?.userMenu.documents_receipt">Receipt</a>
       </mat-list>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Encounter" *ngIf="currentUser?.userMenu.accEncounter"  >
      <ng-template ngbPanelContent>
         <mat-list>
           <a mat-list-item routerLink="/encounter" *ngIf="currentUser?.userMenu.encounter_manage_encounter">Manage Encounter</a>
         </mat-list>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Payments" *ngIf="currentUser?.userMenu.accPayments">
      <ng-template ngbPanelContent>
         <mat-list>
           <a mat-list-item routerLink="/payerpaymentreport" *ngIf="currentUser?.userMenu.payments_payer_payment">Payer Payment</a>
           <a mat-list-item routerLink="/procedurePaymentReport" *ngIf="currentUser?.userMenu.payments_procedure_payments">Procedure Payments </a>
           <a mat-list-item routerLink="/paymentDetailsReport" *ngIf="currentUser?.userMenu.payments_payment_details">Payment Details </a>
           <a mat-list-item routerLink="/paymentByCheck" *ngIf="currentUser?.userMenu.payments_paymentby_check">Payment By Check </a>
           <a mat-list-item routerLink="/claimPaymentRegularReport" *ngIf="currentUser?.userMenu.payments_claim_payment_report">Claim Payment Report </a>
           <a mat-list-item routerLink="/claimPaymentExtendedReport" *ngIf="currentUser?.userMenu.payments_claim_payment_extended">Claim Payment Extended </a>
           <a mat-list-item routerLink="/PaidClaimDetails" *ngIf="currentUser?.userMenu.payments_claim_payment_extended">Paid Claim Payment Details</a>
           <a mat-list-item routerLink="/NotPaidClaimDetails" *ngIf="currentUser?.userMenu.payments_claim_payment_extended">Not Paid Claim Payment Details</a>
         </mat-list>
      </ng-template>
    </ngb-panel>
    
  <ngb-panel title="Administration" *ngIf="currentUser?.userMenu.accAdministration">
    <ng-template ngbPanelContent>
       <mat-list>
        <a mat-list-item routerLink="/roles">Roles</a>
        <a mat-list-item routerLink="/users">Users</a>
       </mat-list>
    </ng-template>
  </ngb-panel>
  
</ngb-accordion>