<div>
    <mat-card >
        <mat-card-title>
            Provider Search
        </mat-card-title>
        <mat-card-content>
            <section class="snap-section">
                <form  [formGroup]="lookupForm">
                    <section class="snap-section">
                        <mat-form-field>
                            <input matInput formControlName="searchFirstName" placeholder="First Name" [matAutocomplete]="auto" >
                        </mat-form-field>
                        <mat-form-field >
                            <input matInput formControlName="searchLastName" placeholder="Last Name">
                        </mat-form-field>
                        <mat-autocomplete #auto="matAutocomplete" >
                            <mat-option (onSelectionChange)="searchWithString($event, option)" *ngFor="let option of filteredOptions " [value]="option">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </section>
                    <section class="snap-section">
                        <mat-form-field >
                            <input matInput formControlName="searchState" placeholder="State" >
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput formControlName="searchCity" placeholder="City" >
                        </mat-form-field>               
                    </section>
                </form>
            </section>
            <section>
                
            </section>
        </mat-card-content>
    </mat-card>
</div>