<div>
    <mat-tab-group>
        <mat-tab >
            <ng-template mat-tab-label>
                Report Filters
            </ng-template>   
            <section>
                <dx-date-box  class="dx-field-label"
                    placeholder="From DOS" required [(value)]="fromDOS"  width="150" >
                </dx-date-box>
                <dx-date-box  class="dx-field-label"
                    placeholder="To DOS" [(value)]="toDOS"  width="150" >
                </dx-date-box>
                <mat-form-field class="snap-data-control-15" >
                    <input matInput #patientIdCtl [(value)]="patientId" placeholder="Patient" name="patientIdControl" [matAutocomplete]="autoPatient" 
                     (onchange)="searchPatientData('test')" >
                </mat-form-field>  
                <button type="button" (click)="refresh()" mat-mini-fab color="primary">
                    <mat-icon class="icon-20">refresh</mat-icon>
                </button>
            </section>
            <section>
                <mat-autocomplete #autoPatient="matAutocomplete"  [displayWith]="displayFnForPatient.bind(this)">
                    <mat-option (onSelectionChange)="searchPatient($event, patient)" *ngFor="let patient of filteredPatients" 
                            [value]="patient">{{patient.patientTitle }}
                    </mat-option>
                </mat-autocomplete>
            </section>
        </mat-tab>
    </mat-tab-group>
</div>
