@import "../node_modules/bootstrap/scss/bootstrap";
@import '~@angular/material/_theming';
@include mat-core();

.snap-app-dev
{
  $candy-app-primary: mat-palette($mat-cyan);
  $candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
  $candy-app-warn:    mat-palette($mat-red);
  $candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);
  @include angular-material-theme($candy-app-theme);
}
@import '~@angular/material/prebuilt-themes/indigo-pink';
// @import '~@angular/material/prebuilt-themes/deeppurple-amber';
// @import '~@angular/material/prebuilt-themes/purple-green';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey';
 
 /*
.deeppurple-amber {
  @import '~@angular/material/prebuilt-themes/deeppurple-amber';
}

.pink-bluegrey {
  @import '~@angular/material/prebuilt-themes/pink-bluegrey';
}

.purple-green {
  @import '~@angular/material/prebuilt-themes/purple-green';
}

*/


.demo-table-container {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  background: white;

  // Table fills in the remaining area with a scroll
  .cdk-table {
    flex: 1 1 auto;
    overflow: auto;
  }
}

.demo-data-source-actions {
  margin: 16px 0;
}

/*
 * Styles to make the demo's cdk-table match the material design spec
 * https://material.io/guidelines/components/data-tables.html
 */
.cdk-table {
  display: block;
}

.cdk-row, .cdk-header-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  height: 48px;
  padding: 0 8px;
}

.cdk-cell, .cdk-header-cell {
  width: 150px;
  padding: 10px;
  position: relative;
  flex: 1;
}

.cdk-header-cell {
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}

.cdk-cell {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

/* Column and cell styles */
.cdk-column-userId {
  max-width: 32px;
}

.cdk-column-userName {
  max-width: 80px;
}

.cdk-column-progress {
  &.cdk-cell {
    display: flex;
    position: relative;

    .demo-progress-stat {
      width: 32px;
      padding-right: 8px;
    }

    .demo-progress-indicator-container {
      position: relative;
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
    .demo-progress-indicator {
      border-radius: 8px;
      height: 8px;
    }
  }
}

.cdk-column-color {
  max-width: 160px;

  &.cdk-cell {
    font-weight: bold;
    font-size: 16px;
    font-family: cursive;
  }
}