/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */


html{
  width:100%;
  height:100%;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-toolbar-row {
  justify-content: flex-start;
  height:10vh;
}
mat-sidenav-container {
  height: 85vh;
}

mat-sidenav {
  width: 320px;
}

mat-card
{
  display: inline-flex;
  flex-direction: row;
}

.mat-card-mg3 {
  margin: 3px;
}
.mat-card-mg12 {
  margin: 12px;
}

.mat-card-mg6
{
  margin-bottom:  12px;
  margin-left:   12px;
  margin-right: 12px;
  
}

.snap-card-400 {
  width: 400px;
  border: 10px;
  border-top-left-radius: 5
}

.snap-card-title
{
  font-size:16px;
  font-weight: 300;
}

.snap-logo-image {
  background-image: url('assets/snapehr_logo.png');
  background-size: cover;
}

.snap-full-width
{    
  width: 100%;

}

.fill-remaining-space {
  flex: 1 1 auto;
}

.narrative
{
 
  height: 100px;
  width: 100%
}

.narrative-60
{
  width: 55%;
}

.snap-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.snap-radio-button {
  margin: 5px;
}

.snap-selected-value {
  margin: 15px 0;
}

.snap-section {
  display: flex;
  align-content: left;
  align-items: left;
  height: 60px;
  margin-top:   5px;
}
.snap-section-right {
 
  margin-top:   5px;
  margin-right: 100px;
  margin-bottom: 10px;
}

.snap-data-control
{
  width:20%; 
  margin:10px;
}

.snap-data-control-60
{
  width:60%; 
  margin-right:60px;
}


.snap-data-control-lmg30
{
  width:20%; 
  margin-left:30px;
  margin-right: 0px;
}

.snap-data-control-lmg60
{
  width:20%; 
  margin-left:60px;
  margin-right: 20px;
}
.snap-data-control-30
{
  width:28%; 
  margin-left: 10px;
  
}
.snap-data-control-40
{
  width:42%; 
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 55px;
  margin-bottom: 10px;
}

.snap-data-control-15
{
  width:15%; 
  margin-left: 6px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.snap-data-control-10
{
  width:10%; 
  margin:10px;
}
.snap-data-control-5
{
  width:5%; 
  margin:10px;
}

.snap-data-control-3
{
  width:3%; 
  margin:10px;
}

.cdk-overlay-pane{
max-width:none !important;
width:auto !important;}

.mat-expansion-demo-width {
  width: 600px;
  display: block;
}

.fc-view-basicDay .fc-today {
     color:white;
     background:indigo;
  } 
.fc-today {
  color: white !important;
  background : whitesmoke !important;
  
}

/* .fc-bgevent
{
  background: indianred !important
} */

.fc-today .fc-highlight { /* when user is selecting cells */
	background: cyan !important;
}

/* .ui-state-highlight 
{
  background: black !important;

} */


.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}
.example-tooltip-host {
  display: inline-flex;
  align-items: center;
  margin: 50px;
}

.mat-table {
  overflow: auto;
}

.mat-autocomplete-panel {
  max-width: none !important;
}

.material-icons.md-14 {
  font-size: 14px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons {
  vertical-align: middle;
}


.dx-scheduler-time-panel-cell
{
  padding-right: 50px!important;
}



.dx-overlay-content {
  width: 600px!important;
}

/*
.dx-texteditor>.dx-texteditor-container>.dx-placeholder {
  top: -10px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  display: block !important;
  font-size: 0.7em;
  transition: 0.3s ease all;
}

.dx-texteditor >.dx-texteditor-container> .dx-texteditor-input{
    padding: 7px 9px 0px !important;
}

.dx-texteditor-empty >.dx-texteditor-container> .dx-texteditor-input{
    padding: 7px 9px 8px !important;
}

.dx-texteditor-empty>.dx-texteditor-container>.dx-placeholder {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 100%;
    width: auto;
    height: 100%;
    text-align: left;
    cursor: text;
    pointer-events: none;
    font-size: 1em;
}




.dx-texteditor>.dx-dropdowneditor-input-wrapper>.dx-texteditor-container>.dx-placeholder {
  top: -10px;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  display: block !important;
  font-size: 0.7em;
  transition: 0.3s ease all;
}

.dx-texteditor >.dx-dropdowneditor-input-wrapper> .dx-texteditor-container> .dx-texteditor-input{
    padding: 7px 9px 0px !important;
}

.dx-texteditor-empty >.dx-dropdowneditor-input-wrapper> .dx-texteditor-container> .dx-texteditor-input{
    padding: 7px 9px 8px !important;
}

.dx-texteditor-empty>.dx-dropdowneditor-input-wrapper>.dx-texteditor-container>.dx-placeholder {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 100%;
    width: auto;
    height: 100%;
    text-align: left;
    cursor: text;
    pointer-events: none;
    font-size: 1em;
}

.dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button), .dx-field-value-static {
  width: 100%;
}


*/
